
<div class="bootstrap-wrapper">
    <div class="container">
        <h1>Job Details </h1>
        <div>
            <div class="icontainer">
                <img class="joblogo"src="assets/job-detail/microsoft.png" alt="">
            <h1 class="headpad"> Microsoft | Software Developer </h1>
            </div>
            <div class="aboutCompanyparent">
                <p  class="aboutCompany">Microsoft Corporation is an American multinational technology corporation which produces <br>
                    computer software, consumer electronics, personal computers, and related services</p>
            </div>

            <div class="aboutCompanyparent">
                <p  class="aboutCompany1">Microsoft Corporation is an American multinational technology corporation which produces <br>
                    computer software, consumer electronics, personal computers, and related services</p>
            </div>
            
        </div>
        <div>
            <div class="iconcontainer about">
                <img class="joblogo"src="assets/job-detail/jobdes.png" alt="">
                <h2 class="headinggap">About the Job</h2>
            </div>
            <div class="aboutparent">
                <p> PART  TIME JOB FOR MAILS (OR) FEMALE (OR) FRESHERS (OR) STUDENTS. <br>
                    FOR MORE DETAILS CONTACT US SERIOUS PEOPLE - RUBAN - 7396842385
                    </p>
            </div>
            
        </div>

        <div class="rowWise">
            <div>
                <div class="iconcontainer">
                    <img class="joblogo"src="assets/job-detail/skills.png" alt="">
                    <h2 class="headinggap ">Skills Required</h2>
                </div>
    
                <div class="skillsrequiredparent">
                    <p>Java, HTML, Javascript, Bootstrap, Angular</p>
                </div>
                <!-- <p>Java, HTML, Javascript, Bootstrap, Angular</p> -->
            </div>
            <div class="joblocation">
                <div class="iconcontainer ">
                    <img class="joblogo"src="assets/job-detail/location.jpg" alt="">
                    <h2 class="headinggap ">Job Location</h2>
                    
                </div>
                <p class="commonPadding ">Pan India</p>
                
                
            </div>
        </div>
        
        
        <div class="rowWise">
            <div>
                <div class="iconcontainer">
                    <img class="joblogo"src="assets/job-detail/salary.png" alt="">
                    <h2 class="headinggap">Salary</h2>
                </div>
                
                <p class="commonPadding">Not disclosed</p>
            </div>
    
            <div class="experience">
                <div class="iconcontainer">
                <img class="joblogo"src="assets/job-detail/experience.jpg" alt="">
                <h2 class="headinggap">Experience Required</h2>
                </div>
                <p class="commonPadding">None</p>
            </div>
            
        </div>
        <div class="rowWise">
            <div>
                <div class="iconcontainer">
                    <img class="joblogo"src="assets/job-detail/lastdate.png" alt="">
                <h2 class="headinggap">Last Date</h2>
                </div>
                <p class="commonPadding">01-04-2022</p>
            </div>
    
    
            <div class="date">
                <div class="iconcontainer">
                    <img class="joblogo"src="assets/job-detail/mail.jpg" alt="">
                    <h2 class="headinggap">Help</h2>
                </div>
               
                
                <p class="commonPadding">For any queries mail us at Microsoft@hotmail.com</p>
            </div>  
        </div>

        
        <div class="applyButton">
            <button  mat-raised-button color="primary">Apply</button>
        </div>

       
        


        
        
        
    </div>
</div>
