#mainheading{
    color: #05595B;
    font-weight: bold;
    text-align: center;
}
h2{
    color: #05595B;
    text-align: center;
}
p{
    text-align: center;
}
img{
    margin-top: 15px;
    height: 150px;
}
a{
    text-decoration: none;
}
a:hover{
  
    filter: brightness(110%);
    transition: 0.5s ease;
}
.firstdiv{
    border-radius: 15px;
    background-color: #e9dac1;
    display: flex;
}
.seconddiv{
    display: flex;
    border-radius: 15px;
    background-color: #54bab9;
    margin-top: 2%;
}
.firstdivone{
    margin-top: 3%;
}
.seconddivtwo{
    margin-top: 3%;
}