
/* *{
margin: 0vw;
padding: 0vw;
} */


body{
background-image: url("src/assets/Register/Cloudy.svg");
margin: auto;
height: auto;
width: 100vw;
position: fixed;
background-repeat: no-repeat;
} 


/* .form__icon{
height: 1.5625vh;
} */

.shipping-card {
  min-width: 150px;
  margin: 30px 20px;
}

#mat-card{
  /* border-color: aquamarine; */
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(177,23,132), -4px -4px 10px rgb(110,37,134);

  background-image: url("src/assets/Register/tech.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 65% center;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


.mat-radio-button {
  display: block;
  margin: 5px 0;
}


.row {
  display: flex;
  flex-direction: row;
}


.col {
  flex: 1;
  margin-right: 20px;
}


.col:last-child {
  margin-right: 0;
}
