/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-control-prev-icon, .carousel-control-next-icon{
    /* filter: invert(88%) sepia(34%) saturate(413%) hue-rotate(84deg) brightness(96%) contrast(89%); */
    /* filter: invert(61%) sepia(97%) saturate(1265%) hue-rotate(68deg) brightness(93%) contrast(90%); */
    /* filter: invert(13%) sepia(73%) saturate(5058%) hue-rotate(306deg) brightness(95%) contrast(90%); */

    width: 50px;
    height: 50px;
}
.carousel-control-prev-icon{
    background-image: url(./assets/learning-portal/prevArrow.svg);
}
.carousel-control-next-icon{
    background-image: url(./assets/learning-portal/nextArrow.svg);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
