<mat-card
style="background-image: linear-gradient(to right, #6E2586,#B11784); margin-top: 0.5rem; margin-left:0.5rem; margin-right: 0.5rem; text-align: center;width: 98%; ">
<h1 style="font-size: xx-large; font-weight:bold; color:white; letter-spacing:1px;">Search Portal</h1>
</mat-card>

<div class="container mt-0">
    <div class="row d-flex justify-content-center" >
        <div class="col-md-9">
            <div class="card p-4 mt-3">
                <div class="d-flex justify-content-center px-5">
                    <div class="search" > <input type="text" class="search-input" placeholder="Search for skills.." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-card style="margin-left: 15%;margin-top: 3%;" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>{{user.firstName}}</mat-card-title>
      <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <h1>Sreshthi Singh</h1>
      <h1>Skills</h1>
      <ul>
        <li>
         Java
        </li>
        <li>
          Angular
        </li>
        <li>
        Spring boot
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784);">Interested</button>
      <button mat-button style="color: white;">  <i class="material-icons" style="font-size:48px;color:black">chat</i></button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin-top: 3%;" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>{{user.firstName}}</mat-card-title>
      <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <h1>Sreshthi Singh</h1>
      <h1>Skills</h1>
      <ul>
        <li>
         Java
        </li>
        <li>
          Angular
        </li>
        <li>
        Spring boot
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784);">Interested</button>
      <button mat-button style="color: white;">  <i class="material-icons" style="font-size:48px;color:black">chat</i></button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin-top: 3%;" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>{{user.firstName}}</mat-card-title>
      <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <h1>Sreshthi Singh</h1>
      <h1>Skills</h1>
      <ul>
        <li>
         Java
        </li>
        <li>
          Angular
        </li>
        <li>
        Spring boot
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784);">Interested</button>
      <button mat-button style="color: white;">  <i class="material-icons" style="font-size:48px;color:black">chat</i></button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin-top: 3%;"class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>{{user.firstName}}</mat-card-title>
      <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <h1>Sreshthi Singh</h1>
      <h1>Skills</h1>
      <ul>
        <li>
         Java
        </li>
        <li>
          Angular
        </li>
        <li>
        Spring boot
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784);">Interested</button>
    
      <button mat-button style="color: white;">  <i class="material-icons" style="font-size:48px;color:black">chat</i></button>
    </mat-card-actions>
  </mat-card>
  