<mat-card style="background-image: linear-gradient(to right, #6E2586, #B11784); width: 99%; position: fixed; z-index: 1; margin-top: -20px;"><h1>Tech News</h1></mat-card>
<!-- <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let article of articles" [colspan]="4" value="{{uri}}"><p>{{uri}}</p></mat-grid-tile>
</mat-grid-list>

<h1 style="color: #6E2586;">{{uri}}</h1>
<img [src]="stringifiedData.imgurl">

<p *ngFor="let sd of stringifiedData">{{sd}}</p> -->

<br>
<br>

<div class="container-fluid mt-5">
    <div class="row">
        <div *ngFor="let d of techNewsDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img src="{{d.urlToImage}}" width="100%">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <button mat-button><a href="{{d.url}}" target="blank" class="button">Read More</a></button>
            </div>
        </div>
    </div>
</div>