
<!-- <body >
<section class="vh-100" style="margin-top: -110px;">
  

  <div class="row d-flex justify-content-center align-items-center h-100"  style="position: relative;">

    <div class="col-lg-12 col-xl-11" style="border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(177,23,132), -4px -4px 10px rgb(110,37,134);">

      <div class="card text-black" style="border-radius: 25px;border-radius: 10px;
      box-shadow: 4px 4px 10px rgb(177,23,132), -4px -4px 10px rgb(110,37,134);">

        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">LOGIN PAGE</p>



              
    <form class="mx-1 mx-md-4" (ngSubmit)="userLogin(user)"> -->


<!-- <div class="d-flex flex-row align-items-center mb-4">
  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
  <div class="form-outline flex-fill mb-0">
    <label for="form3Example1c" class="form-label">User ROle</label>
    <input matInput type="text" class="form-control"  placeholder="Enter your role" id="role" name="role" [(ngModel)]="user.role" required>
    <mat-error>{{error}}</mat-error>
  </div>
</div> -->


<!-- <div class="d-flex flex-row align-items-center mb-4">
  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
  <div class="form-outline flex-fill mb-0">
    <label for="form3Example1c" class="form-label">Email-ID</label>
    <input matInput type="text" class="form-control"  placeholder="Enter your Email-Id" id="emailId" name="emailId" [(ngModel)]="user.emailId" required>
    <mat-error>{{error}}</mat-error>
  </div>
</div>


<div class="d-flex flex-row align-items-center mb-4">
  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
  <div class="form-outline flex-fill mb-0">
        <label for="exampleFormControlInput1" class="form-label" id="form3Example1c">Password</label>
        <input matInput type="password" class="form-control" placeholder="Enter your Password" id="password" name="password" [(ngModel)]="user.password" required>
      <mat-error>{{error}}</mat-error>
      </div></div>

    <br><br>

<button type="submit" mat-button style=" background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132)); padding: 2.5px 55px;border-radius: 5px;color: white; font-size: large;height: 40px; width: 380px;margin-left: 55px;margin-top: -25px;">LOGIN</button>

      <br><br>


      <p style="margin-left: 145px;font-size: 13px;margin-bottom: -35px;">Don't have Account ? <a routerLink="/register" href="#"> Register</a></p>



</form>

</div>

<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

<img style="height:300px;" src="assets/Register/tech.png" class="img-fluid" alt="Sample image ">
  
</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="height:200px;transform: rotate(180deg);margin-top:-520px;margin-left:477px;border-radius: 10px">
  <path fill="rgb(110,37,134)" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,186.7C640,224,800,256,960,277.3C1120,299,1280,309,1360,314.7L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
</svg>

</div>
</div>
</div>
</div>

</section>
</body> -->





<body  class="vh-100" style="background-color: rgba(223, 181, 237, 1);position:fixed" >

  <form style="margin-top: 8vw;"  class="mx-1 mx-md-2" [formGroup]="loginForm"  >

    <mat-card class="shipping-card" id="mat-card" >
     
    <div style="font-family: 'Montserrat', sans-serif;margin-left: 3vw;" >

    <!-- <p style="color:  rgb(110,37,134);margin-left: 0px;text-decoration: underline;font-weight: bolder;font-family: 'Montserrat', sans-serif;font-size: large;">Login  Page</p><br> -->

    <div style="background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132));border-radius: 5px;width: 380px;" >
      <p style="color:  whitesmoke;margin-left: 0px;text-decoration: underline;font-weight: bolder;font-family: 'Montserrat', sans-serif;font-size: large;" >
        <a href="#">
        <img  src="../../assets/logo-crop.png" style="height: 8vh;margin-left:10px;margin-top: -10px;position: sticky;" alt="logo">
      </a>
       Login Page</p>

      </div>      
      <br>


    <mat-card-content class="col-12" style="margin-top: 5px;" >


      <div class="formBorder"></div>

      <div class="row">
        <div class="col-12">
          <p style="display:inline-block;width:8%;"> Email ID : </p> &nbsp;&nbsp;
          <mat-form-field color="accent" appearance="fill" style="width: 16.5%;margin-left: 15px;" class="full-width">
            <mat-label>Email Id</mat-label>
            <input  matInput style="display:inline-block;" placeholder="Email ID" formControlName="emailId">
            <mat-error *ngIf="loginForm.controls['emailId'].hasError('required')">
              Email-ID is <strong>required</strong>
            </mat-error>
            <mat-error>{{error}}</mat-error>

          </mat-form-field>
        </div>
      </div>


            
      <div class="row">
        <div class="col-12" >
          <p style="width:9%; display: inline-block;">Password :</p> &nbsp;&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" #pass required>
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>
      </div>


  </mat-card-content>


  <mat-card-actions style="margin-top:-25px">
  
    <br><br>
      <button type="submit" (click)="userLogin()" mat-button style=" background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132)); padding: 2.5px 55px;border-radius: 5px;color: white; font-size: large;height: 40px; width: 340px;margin-left: 25px;margin-top: -25px;">
        LOGIN
      </button>

      <br><br>

      <p style="margin-left: 115px;font-size: 13px;">Don't have Account ? <a routerLink="/jobSeekersRegister" href="#"> Register</a></p>
    
  
  </mat-card-actions>
</div>
      <img style="height:300px;margin-top:-290px;margin-left:550px;position: absolute;" src="assets/Register/tech.png" class="img-fluid" alt="Sample image ">
  
      </mat-card>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="height:200px;transform: rotate(180deg);margin-top:-635px;margin-left:606px;border-radius: 10px;">
        <path fill="rgb(110,37,134)" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,186.7C640,224,800,256,960,277.3C1120,299,1280,309,1360,314.7L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
      </svg>
     
</form>
</body> 