 
*{
    margin: 0vw;
    padding: 0vw;
    }
    
    
    body{
    background-image: url("src/assets/Register/Cloudy.svg");
    margin: auto;
    height: 100%;
    width: 100vw;
    position: fixed;
    
    } 