<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

<mat-card
  style="background-image: linear-gradient(to right, #6E2586, #B11784); margin-top: 0.5rem; padding-top: 5px; padding-bottom: 5px;">
  <h1 id="mainheading">Recruiter</h1>
</mat-card>


<mat-card class="rfc container-fluid col-lg-3" style="margin-left: 1vw; margin-top: 20px;">
  <mat-card-title style="text-align: center; font-size: 30px; margin-top: 10px; font-family: 'Source Sans Pro', sans-serif; color: white;">Welcome Recruiter</mat-card-title>
  <img mat-card-image class="profile-image" src="data:image/jpeg;base64,{{recruiterLandingData.logo}}">
  <mat-card-subtitle
    style="text-align: center; margin-top: 30px; font-size: 40px; font-family: 'Source Sans Pro', sans-serif; color: white; margin-bottom: 30px;">
    {{recruiterLandingData.companyName}}</mat-card-subtitle>
    <p class="rp"><a href="{{recruiterLandingData.companyUrl}}" style="text-decoration: none; color: white;">{{recruiterLandingData.companyUrl}}</a></p>
  <button class="upb" routerLink="/navbar/job-posting">Update profile</button>
</mat-card>

<mat-paginator style="margin-top: -10px;" [length]="jobSeeker.length" [pageSize]="8" [hidePageSize]="true"
  [showFirstLastButtons]="true" (page)="pageChange($event)" aria-label="Select page">
</mat-paginator>


<!-- <div *ngFor="let getAllJobSeekers of getAllJobSeekersArray" class="container-fluid col-lg-8"> -->
<!-- <mat-card class="example-card" *ngFor="let jobseekers of jobSeeker">
    <mat-card-header>
      <mat-card-title>{{jobseekers.firstName}} {{jobseekers.lastName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{jobseekers.jobSeekerImage}}" class="pi">
    <mat-card-content>
      <mat-chip-list *ngFor="let skills of jobseekers.additionalDetails.skillSet">
        <mat-chip>{{skills.skillName}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784);"><mat-icon style="color: white;">check</mat-icon></button>
      <button mat-button style="color: white;">  <i class="material-icons" style="font-size:40px;color:black">chat</i></button>
    </mat-card-actions>
  </mat-card> -->
<!-- </div> -->
<!-- <div>{{jobSeekerSlice.length}}</div> -->
<div class="container-fluid col-lg-9" *ngIf="jobSeekerSlice.length>0">
  <!-- <div>Jobseeker Slice Card</div> -->
  <div *ngFor="let jobseekers of jobSeekerSlice">
    <!-- <div>After Jobseeker Slice Card</div> -->
    <mat-card class="example-card">
      <!-- <div>Card</div> -->
      <!-- <img mat-card-image class="pi" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <a (click)="jobseeker(jobseekers?.emailId)"><img mat-card-image src="{{jobseekers?.seekerProfileImage}}" class="pi"></a>
      <mat-card-header style="width: 100%; display: flex; align-items: center; justify-content: center; margin: 0px; padding: 0px;">
        <mat-card-title>{{jobseekers?.firstName}} {{jobseekers?.lastName}}</mat-card-title>
      </mat-card-header>
      <p *ngFor="let course of jobseekers.educationDetails" style="font-weight: 500; font-size: 15px; padding: 0px; margin-top: -6px; margin-bottom: 5px; margin-left: auto; margin-right: auto;">{{course.courses}}</p>
      <mat-card-content id="sc" style="display:flex; height: 42px; width:100%; overflow-x: scroll;">
        <mat-chip-list *ngFor="let skills of jobseekers?.additionalDetails.skillSet"
          style="width: fit-content; margin: 0px 2px;">
          <mat-chip *ngIf="skills.isVerified" style="background-color: green; color: white; font-weight: bold;">{{skills.skillName}}</mat-chip>
          <mat-chip *ngIf="!skills.isVerified" style="background-color: red; color: white; font-weight: bold;">{{skills.skillName}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-raised-button style="background-image: linear-gradient(to right, #6E2586,#B11784); padding: 0px;"><mat-icon style="color: white;">check</mat-icon></button> -->
        <button (click)="sendEmail(jobseekers?.emailId)"
          style="margin-left: 3px; border: none; background-color: white;"><i class="fa-solid fa-check"
            style="font-size: 30px; color: rgb(0, 146, 44);"></i></button>
        <!-- <button mat-button style="color: white;">  <i class="material-icons" style="font-size:40px;color:black">chat</i></button> -->
        <button (click)="onClick(jobseekers?.emailId,jobseekers?.firstName +' '+jobseekers?.lastName)"
          style="margin-left: 150px; border: none; background-color: white;"><i class="material-icons"
            style="font-size:30px;color: rgb(16, 0, 159);">chat</i></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- chatbot -->

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger intent="WELCOME" chat-title="JOLLY" agent-id="935bf166-bd85-4e40-930a-f6638e092aa8" language-code="en">
</df-messenger>

<style>
  df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #6E2586;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
  }
</style>