<div class="cv-body">
    <div class="cv-body-header">
      <div class="cv-header-content1">
          <h1>FIRST NAME</h1>
      </div>
      <div class="cv-header-content2">
      </div>
      <div class="cv-header-content3">
        <div class="cv-header-content3-left">
    
        </div>
  
        <div class="cv-header-content3-middle">
            <H3>ROLE</H3>
        </div>
  
        <div class="cv-header-content3-right">
  
        </div>
      </div>
      <div class="cv-header-content4">
        <div class="cv-header-content4-left">
  
        </div>
  
        <div class="cv-header-content4-middle">
  
        </div>
  
        <div class="cv-header-content4-right">
  
        </div>
      </div>
    </div>
    <div class="cv-body-content">
      <div class="cv-body-side-content">
          <div class="cv-body-side-content-avatar">
  
          </div>
  
          <div class="cv-body-side-content-edu">
              <div class="cv-body-side-content-edu-header">
              
              </div>
      
              <div class="cv-body-side-content-edu-container1">
                  
              </div>
          </div>
  
          <div class="cv-body-side-content-lang-container">
              
              <div class="cv-body-side-content-lang-header">
                  
              </div>
              
              <div class="cv-body-side-content-lang-container1">
                  
              </div>
          </div>
      </div>
      <div class="cv-body-main-content">
          <div class="main-content-objective">
          </div>
  
          <div class="main-content-work-exp">
              <div class="work-header-container">
              
              </div>
  
              <div class="work-exp-container">
  
              </div>
          </div>
          <div class="main-content-skills">
              <div class="skils-container">
  
              </div>
              <div class="skills-header-container">
  
              </div>
          </div>
      </div>
    </div>
  </div>
  
