div {
  /* border-style: solid;
     margin: 5px;
     padding: 5px; */

}
sub{
   font-size: medium;
   color: aliceblue;
}
body {
  margin: 1%;
}
*:not(mat-icon){
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.cv-body-header {
  background: rgb(49, 49, 83);
  height: 250px;
}

.cv-header-content1 {
  text-align: center;
  color: rgb(201, 178, 119);
  text-transform: uppercase;
  padding: 1%;
  
}

.cv-header-content2 {
  text-align: center;
  color: azure;
  text-transform: uppercase;

}

.cv-header-content3 {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}

.cv-header-content3-left {
  width: 40%;
  border-style:inset;
  border-color: rgb(201, 178, 119) transparent  transparent transparent;
  margin: 1%;
}

.cv-header-content3-middle {
  width: 20%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  color: rgb(201, 178, 119);
}

.cv-header-content3-right {
  width: 40%;
  border-style:inset;
  border-color: rgb(201, 178, 119) transparent  transparent transparent;
  margin: 1%;
  padding: 0%;
}

mat-icon {
  color: rgb(201, 178, 119);
}

.cv-header-content4 {
  display: flex;
  justify-content: space-between;
}

.cv-header-content4-left {
  width: 33.3%;
  text-align: center;
}

.cv-header-content4-middle {
  width: 33.3%;
  text-align: center;
  border-style:solid ;
  border-color: transparent rgb(160, 160, 160) transparent rgb(160, 160, 160);
}

.cv-header-content4-right {
  width: 33.3%;
  text-align: center;
}

.cv-body-content {
  display: flex;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
}

.cv-body-side-content {
  width: 35%;
  background: rgb(234, 232, 232);
  padding: 0%;
  margin: 0%;
}

.mat-card-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cv-body-side-content-avatar {
  text-align: center;
  padding: 5%;
}
.cv-body-side-content{
   padding: 0% 2% 0% 2%;
}
.cv-body-side-content-edu{
    margin: 7%;
    border-style:inset;
    border-color: rgb(169, 166, 166) transparent rgb(169, 166, 166) transparent;
    padding-top: 2.5%;
}
.cv-body-side-content-edu-header{
    text-transform: uppercase;
}
.ed-div{
  padding: 1%;
  margin-left: 6%;
}
/* .cv-body-side-content-edu-container1{
   padding: 1%;
} */
.main-content-objective{
  padding: 1%;
  margin: 4%;
}
.work-header-container{
  border-style: inset;
  border-color: rgb(169, 166, 166) transparent rgb(169, 166, 166) transparent;
  padding: 2.5%;
  margin-left: 2%;
  margin-right: 2%;
}
.cv-body-main-content {
  width: 65%;
  background: whitesmoke;
  padding: 0%;
  margin: 0%;
}
