<body>
  <div class="cv-body">
    <div class="cv-body-header">
      <div class="cv-header-content1">
        <span style="border-right-style:solid; padding-right: 1%;">S</span><span style="padding-left: 1%;">K</span>
      </div>
      <div class="cv-header-content2">
        <h1 style="font-size:320%;">Sajidha khan</h1>
      </div>
      <div class="cv-header-content3">
        <div class="cv-header-content3-left">
        </div>

        <div class="cv-header-content3-middle">
          <H3 style="font-size:120%;  font-weight: bold;">FULLSTACK DEVELOPER</H3>
        </div>

        <div class="cv-header-content3-right">
        </div>
      </div>
      <div class="cv-header-content4">
        <div class="cv-header-content4-left">
          <mat-icon>place</mat-icon>
          <br>
          <sub>empire heights</sub>
        </div>

        <div class="cv-header-content4-middle">
          <mat-icon>call</mat-icon>
          <br>
          <sub>8973241515</sub>
        </div>

        <div class="cv-header-content4-right">
          <mat-icon>mail</mat-icon>
          <br>
          <sub>Sajidhamohammed321@gmail.com</sub>
        </div>
      </div>
    </div>

    <div class="cv-body-content">
      <div class="cv-body-side-content">
        <div class="cv-body-side-content-avatar">
          <img mat-card-avatar src="assets\sunset.png">
        </div>
        <div class="cv-body-side-content-edu">
          <div class="cv-body-side-content-edu-header">
            <h2 style="font-size: 110%; letter-spacing: 3px;font-weight: bolder;">Education</h2>
          </div>

          <div class="cv-body-side-content-edu-container1">

          </div>
        </div>

        <div class="cv-body-side-content-lang-container">

          <div class="cv-body-side-content-lang-header">

          </div>

          <div class="cv-body-side-content-lang-container1">

          </div>
        </div>
      </div>
      <div class="cv-body-main-content">
        <div class="main-content-objective">
        </div>

        <div class="main-content-work-exp">
          <div class="work-header-container">

          </div>

          <div class="work-exp-container">

          </div>
        </div>
        <div class="main-content-skills">
          <div class="skils-container">

          </div>
          <div class="skills-header-container">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
