h1{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 2%;
    font-size: 2.0vw;
    letter-spacing: 0.3rem;
}
h2{
    text-align: center;
    color: #4E1B5F;
}
h3{
    
    color: #4E1B5F;
    font-weight: bold;
}
.button{
    margin-left: 1.5%;
    font-size: large;
    color: white;
    background-image: linear-gradient(to right, #6E2586,#B11784);
}
mat-card-title{
    line-height: 2rem;
    color: #4E1B5F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
mat-label{
    color: #4E1B5F;
}

.chatscrolls{
    height: 27.1vw;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    overscroll-behavior-y: contain;
    scroll-snap-align: end;
    background-color: #ae17ea36;
    display: flex;
    flex-direction: column-reverse;
}
.chatscrolls::-webkit-scrollbar-thumb{
    background: #4E1B5F;
}
.chatscrolls::-webkit-scrollbar-track{
    background: transparent;
}
.sender{
    margin-top: 1%;
    margin-bottom: 1%;
    float: right;
    margin-right: 1%;
    text-align: right;
    background-color: #b11783b7; 
    width: auto;
     min-width: 15%; 
    display: inline-block;
    max-width: 45%;   
}

.receiver{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-align: left;
    background-color: #6e25868a;
    width: auto;
    min-width: 15%;
    display: inline-block;
    max-width: 45%;

}
.senderdiv{
    text-align: right;
}