
<mat-card style="background-image: linear-gradient(to right, #6E2586,#B11784); margin-top: 0.5rem;"><h1>Chatroom</h1></mat-card>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-4 col-s-12" style="padding-left: 1%; margin-top: 1.5%;">

            <mat-card style="background-color: #6E2586;">
                <h2 style="color: white;">CHATS</h2>
                <mat-card *ngFor="let receiver of receiverNames" style="color: #6E2586; font-weight: bold; margin-top: 3%;">
                    <button *ngIf="receiver.senderId==senderId" mat-mini-fab disabled style="color: white;  background-color: #6E2586; font-size: 2.8vh;">
                    {{receiver.recipientId.charAt(0)}}
                </button>
                <button *ngIf="receiver.senderId==senderId" style="background-color: white; text-align: left; background-image: none; color: #6E2586;border: none; font-size: 2.5vh;" (click)="selectedReceiver(receiver)">{{receiver.recipientId}}</button>
                
                <button mat-mini-fab disabled style="color: white;  background-color: #6E2586; font-size: 2.8vh;" *ngIf="receiver.senderId!=senderId">
                    {{receiver.senderId.charAt(0)}}
                </button><button *ngIf="receiver.senderId!=senderId" style="background-color: white; text-align: left; background-image: none; color: #6E2586;border: none; font-size: 2.5vh;" (click)="selectedReceiver(receiver)">{{receiver.senderId}}</button>
                </mat-card>    
            </mat-card>
        </div>
        <div class="col-xl-9 col-md-8 col-s-12"  style="margin-top: 0.5%; height: 100%; overflow-y: hidden;">
            <mat-card style="height: 100%;">
                <h2 style="background-image: linear-gradient(to left, #6E2586,#B11784); color: white; padding: 1%; text-align: left;"><button mat-mini-fab disabled style="color: white; font-size: 3.5vh;">{{receiverInitials}}</button>   Chating with {{recipientName}}</h2>
                    <div class="chatscrolls">
                        <span *ngFor="let chat of getChats; let i = index" > 
                            <!-- <p *ngIf="!(chat.timestamp == getChats[i-1].timestamp)"> {{chat.timestamp | date:'dd-MM-yyyy'}} </p> -->
                                <mat-card *ngIf="chat.senderId==senderId" class="sender">
                                    <div class="senderdiv">
                                        <span style="color: white; margin-right: 3%; float: left;font-size: 2.5vh;">{{chat.message}}</span>
                                        <span style="color: rgba(255, 255, 255, 0.499); margin-right: 2%; white-space: nowrap; font-size: 1.5vh;">{{chat.timestamp}}</span>
                                    </div>
                                </mat-card>

                                <mat-card *ngIf="chat.recipientId==senderId " class="receiver"> 
                                    <span style="color: white; margin-left: 3%; font-size: 2.5vh;">{{chat.message}}</span>
                                    <span style="color: rgba(255, 255, 255, 0.499); margin-left: 2%; float: right; font-size: 1.5vh;">{{chat.timestamp}}</span>
                                </mat-card>
                            
                        </span>
                    </div>
             
                <div>
                <mat-form-field appearance="outline" style="width: 80%; background-color: white;">
                    <mat-label>Enter Your Message</mat-label>
                    <input matInput placeholder="Enter a text" minlength="1" type="text" [(ngModel)]="text"/>
                  </mat-form-field>
                  <button mat-fab (click) = "sendMessage()" class="button"><mat-icon >send</mat-icon></button>
                </div>
            </mat-card>
        </div>
    </div>
</div>