
<mat-card style="background-image: linear-gradient(to right, #6E2586,#B11784); margin-top: 0.5rem;"><h1>Chatroom</h1></mat-card>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-4 col-s-12" style="padding-left: 1%; margin-top: 1%;">
            <mat-card style="padding-top: 13%; padding-bottom: 25%; text-align: center;">
                
        </mat-card>
        </div>
        <div class="col-xl-9 col-md-8 col-s-12"  style="margin-top: 1%; text-align: center;">
            <mat-card>
                
            </mat-card>
        </div>
    </div>
</div>