<!-- 
        
        <body>
<section id="imgs" class="vh-100" style="background-color: rgba(223, 181, 237, 1);margin-top: -15px;">
       
                
            <br>
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: rgb(70, 6, 110);align-items: center;">SELECT USER TYPE</p>


            
            <div id="mainCard" >

        
        <div  id="card1" style="margin-left:250px;margin-top: 50px;">
                <button style="margin-top:96px;margin-left: 25px;">
                        <a style="color: whitesmoke;text-decoration: none" routerLink="/jobSeekersRegister">JobSeeker</a>
                </button>    
        </div>

        <div id="card2" style="margin-left:900px;margin-top: 46px;">
                
                <button style="margin-top:96px;margin-left: 33px;">
                        <a style="color: whitesmoke;text-decoration: none"  routerLink="/Register">Recruiter</a>           
                </button>
        </div>
  
  
</div>


</section>
</body>  -->

 <!-- 2nd 
        
        <div class="card">
        <div class="picture">
          <p>IMAGE</p>
        </div>
        <div class="name">
          <p>USER</p>
        </div>
        <div class="jobtitle">
          <p>Register type</p>
        </div>
        <div class="buttons">
          <div class="button1">
                <button style="background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132));border-radius: 5px;">
                        <a style="color: whitesmoke;text-decoration: none" routerLink="/jobSeekersRegister">JobSeeker</a>
                </button> 
          </div>
          <div class="button2">
                <button style="background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132));border-radius: 5px;">
                        <a style="color: whitesmoke;text-decoration: none"  routerLink="/organizationRegister">Recruiter</a>           
                </button>
          </div>
        </div>
      </div>

-->
        
        

<mat-dialog-content class="mat-typograpy;">

        <div style="height: 100px;">

        <button [mat-dialog-close]="" cdkFocusInitial style="margin-right: 50px;margin-top:30px;">
                <a style="color: whitesmoke;text-decoration: none;" routerLink="/jobSeekersRegister">JobSeeker</a>
        </button> 

        <button [mat-dialog-close]="" cdkFocusInitial style="margin-left: 50px;margin-top: 30px;">
                <a style="color: whitesmoke;text-decoration: none"  routerLink="/recruiterRegister">Recruiter</a>           
        </button>
</div>
</mat-dialog-content>
        
