<body>
<div class="container">
        

        <div class="col-12 col-sm-6 col-md-6">
                <button style="margin-top:100px;margin-left: 350px;">
                        <a style="color: whitesmoke;text-decoration: none"   routerLink="/jobSeekerRegister">JobSeeker</a>
                </button>    
        </div>

        <div class="col-12 col-sm-6 col-md-6">
                
                <button style="margin-top:96px;margin-left: 140px;">
                        <a style="color: whitesmoke;text-decoration: none"  routerLink="/recruiterRegister">Recruiter</a>            
                </button>
        </div>


</div>
</body>


        