<!-- <form [formGroup]="addSkillForm"  >
    
    
      
      
        <div class="educationParentdiv">
           
          
          <!-- ---------------------------------------------Courses------------------------------------------------ -->
          <!-- <div class="commondiv">
            <p class="commonSpace">Courses :</p>
            
              <mat-form-field
              appearance="fill"
              class="commonFieldSpace educationSpace custom-form-field"
              style="width: 436px"
              
            >
              <mat-label>Course</mat-label>
              <input matInput formControlName="course" />
            </mat-form-field>
            
          </div>  -->
    
         
          
          <!-- -------------------------------------------End of Courses------------------------------------------------ -->
          <!-- <br />
          <div class="commondiv">
            <p class="commonSpace">Stream or Field :</p>
            <mat-form-field
              appearance="fill"
              class="commonFieldSpace fieldSpace custom-form-field"
              style="width: 396px"
              
            >
              <mat-label>Stream or Field</mat-label>
              <input matInput  formControlName="stream" />
            </mat-form-field>
          </div>
          <br />
          <div class="commondiv">
            <p class="commonSpace">University or Institute :</p>
            <mat-form-field
              appearance="fill"
              class="commonFieldSpace universitySpace custom-form-field"
              style="width: 360px"
              
            >
              <mat-label>University or Institute</mat-label>
              <input matInput formControlName="university" />
            </mat-form-field>
          </div>
          <br />
          <div class="commondiv">
            <p class="commonSpace">Course Type :</p>
            <mat-form-field
              appearance="fill"
              class="commonFieldSpace courseTypeSpace custom-form-field"
              style="width: 415px"
              
            >
              <mat-label>Course Type</mat-label>
              <input matInput formControlName="courseType" />
            </mat-form-field>
          </div>
          <br />
          <div class="commondiv">
            <p class="commonSpace">Pass Out Year :</p>
            <mat-form-field
              appearance="fill"
              class="commonFieldSpace passOutYearSpace custom-form-field"
              style="width: 405px"
              
            >
              <mat-label>Choose a date</mat-label>
              <input matInput type="date"  formControlName="passOutYear" />
              
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <br />
          <div class="commondiv">
            <p class="commonSpace">Percentage or CGPA :</p>
            <mat-form-field
              appearance="fill"
              class="commonFieldSpace percentageSpace custom-form-field"
              style="width: 365px"
             
            >
              <mat-label>Percentage or CGPA</mat-label>
              <input matInput  formControlName="percentageOrCgpa" />
            </mat-form-field>
          </div>

          <div class="educationBTN">
          
            <div>
              <button mat-raised-button class="educationSaveBTN" (click)="addskill()">Save</button>
            </div>
            
          </div>
          
        </div>
      


       -->
   

  <!-- </form> -->