#title {
  background-image: linear-gradient(to right, #6e2586, #b11784);
  color: white;
  margin-top: 0.2%;
}
.table {
  margin-left: 55%;
  margin-top: -15%;
  right: 80%;
  position: sticky;
}
mat-card h2 {
  margin-left: 43%;
  font-size: xx-large;
  font-weight: 500;
}
.div1 {
  width: 35%;
  display: inline-block;
  box-shadow: 10px 10px 5px #6e2586;
  border-radius: 5px;
}
.div1Title {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to right, #6e2586, #b11784);
  font-size: x-large;
}
.div2 {
  box-shadow: 10px 10px 5px #b11784;
  position: relative;
  width: 65%;
  display: inline-block;
  border-radius: 5px;
}
#userimg {
  position: relative;
  margin-left: 38%;
  height: 20vh;
}
.userDetails {
  font-family: "Courier", Times, serif;
  font-weight: bolder;
  text-align: center;
}
.div2 img {
  position: relative;
  margin-left: 35%;
  /* margin-top: 20%; */
}
.div2Result h2 {
  position: relative;
  margin-left: 25%;
  margin-top: 60px;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
}
/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* Spacing */
td,
th {
  padding: 20px;
}
th {
  background: rgb(210, 209, 209);
  position: sticky;
  padding: 10px;
  text-align: center;
}
.primary {
  background-color: #000000;
}
tbody > tr:hover {
  background-color: #6e2586;
}

.div2ResultDetails {
  margin-top: 30px;
}
.div2ResultDetails1 span {
  display: flex;
}
.div2ResultDetails h2 {
  margin-left: 2%;
}
.btn {
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #6e2586, #b11784);
  font-family: "Source Code Pro", monospace;
  padding: 5px 30px 5px 30px;
  color: white;
  font-weight: 500;
  font-size: x-large;
  border-radius: 5px;
  margin-left: 45%;
}
.div2ResultFirst img {
  margin-left: 31%;
  display: inline-block;
}
