<h1 mat-dialog-title>Online Test Instructions</h1>
<h3>10 Questions|15 Minutes|No Attempt Limit</h3>
<h1 mat-dialog-title>General Instructions</h1>
<mat-dialog-content class="mat-typography">
 <ul>
 <li> <p> The countdown clock will be set at the server side. The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination. When the countdown timer reaches zero, the examination will end by itself and in this case you will not be required to end or submit your examination.</p></li>
<li><p>The  button displayed on the bottom side of screen will show the status of each question using one of the following symbols:</p>
    
        <article style="float: left; width: 1%; padding: 10px; background-color:#4E1B5F;"></article>
        <p style="margin-left: 10%; float: left;">Answered</p>
    <br><br>
   
        <article style="float: left; width: 1%; padding: 10px; background-color:rgb(177,23,132)"></article>
        <p style="margin-left: 10%;  float: left;">Unanswered</p>
    <br><br>
   
        <article style="float: left; width: 1%; padding: 10px; background-color:#00CED1"></article>
        <p style="margin-left: 10%;float: left; ">BookMark</p><br>
    </li>
</ul>
<h3>Navigating to a Question

</h3>
<h3>To answer a question, do the following:</h3>
 <ul>
     <li>
        Click on "Save & Next" to save your answer for the current question and then go to the next question.
     </li>
     <li>
        Click on "Mark  & Next" to NOT save your answer for the current question, mark it for review, and then go to the next question.
    </li>
    <li>
        Click on "Submit" to submit your exam.
    </li>
 </ul>
  <h1 style="text-align: center;">All The Best!!! </h1>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close style="font-size: 20px;font-weight: bolder;width: 130px;margin-bottom: 5px;background-image: linear-gradient(to right, #6E2586,#B11784);color: white;">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="font-size: 20px;font-weight: bolder;width: 150px;margin-bottom: 5px;background-image: linear-gradient(to right, #6E2586,#B11784);"><a style="text-decoration: none;color: white;" routerLink="/navbar/test">Start Test</a></button>
</mat-dialog-actions>
