<div style="background-color: rgb(251, 248, 241);">
<div style="background-color: rgb(251, 248, 241); width: 95%; margin: auto;">

    <br><br>
    <div class="parent-container" style="height: 100px;">
        <h1>Find the best courses</h1>
        <h3>Hello Warrior, grow your skills and advance your career with jobizard Learning</h3>
    </div>
    
    <br><br><br>
    <div class="parent-container">
        <ngb-carousel style="height: 100%; padding: 0px 0px;">
            <ng-template ngbSlide *ngFor="let skillCategory of skillAggregate; index as s">
                            <div class="card-block">
                                <mat-card (click)="carouselClick()" class="card skill-card template-div" *ngIf="skillAggregate[6*s]">
                
                                    <br>
                                     <mat-card-title>{{skillAggregate[6*s].category}}</mat-card-title>
                                </mat-card>
                                <mat-card class="card skill-card template-div" *ngIf="skillAggregate[6*s+1]">
                                    
                                    <br>
                                    <mat-card-title>{{skillAggregate[6*s+1].category}}</mat-card-title>
                                </mat-card>
                                <mat-card class="card skill-card template-div" *ngIf="skillAggregate[6*s+2]">
                                    
                                    <br>
                                    <mat-card-title>{{skillAggregate[6*s+2].category}}</mat-card-title>
                                </mat-card>
                                <mat-card class="card skill-card template-div" *ngIf="skillAggregate[6*s+3]">
                                    
                                    <br>
                                    <mat-card-title>{{skillAggregate[6*s+3].category}}</mat-card-title>
                                </mat-card>
                                <mat-card class="card skill-card template-div" *ngIf="skillAggregate[6*s+4]">
                                    
                                    <br>
                                    <mat-card-title>{{skillAggregate[6*s+4].category}}</mat-card-title>
                                </mat-card>
                                <mat-card class="card skill-card template-div" *ngIf="skillAggregate[6*s+5]">
                                    
                                    <br>
                                    <mat-card-title> {{skillAggregate[6*s+5].category}}</mat-card-title>
                                </mat-card>
                            </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <br><br><h2>Recommended for you <a href="">Show all</a></h2><br><br>

    <div class="parent-container">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let course of courseTemplate; index as i">
                
                    <div class="parent-container">
                        <div class="card-block">
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i]">
            
                                <br>
                                <mat-card-title>{{courses[6*i]}}</mat-card-title>
                            </mat-card>
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i+1]">
                                
                                <br>
                                <mat-card-title>{{courses[6*i+1]}}</mat-card-title>
                            </mat-card>
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i+2]">
                                
                                <br>
                                <mat-card-title>{{courses[6*i+2]}}</mat-card-title>
                            </mat-card>
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i+3]">
                                
                                <br>
                                <mat-card-title>{{courses[6*i+3]}}</mat-card-title>
                            </mat-card>
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i+4]">
                                
                                <br>
                                <mat-card-title>{{courses[6*i+4]}}</mat-card-title>
                            </mat-card>
                            <mat-card class="card suggestion-card template-div" *ngIf="courses[6*i+5]">
                                
                                <br>
                                <mat-card-title> {{courses[6*i+5]}}</mat-card-title>
                            </mat-card>
                        </div>
                    </div>
               
            </ng-template>
        </ngb-carousel>
    </div>

    <br><br><h2>Top Seller <a href="">Show all</a></h2><br><br>

    <div class="parent-container">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let logo of logoTemplate; index as j">
                
                    <div class="logo-container">
                        <div class="card-block">
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j].retrievedImage">
                                <br>
                                <img mat-card-image [src]="companies[9*j].retrievedImage" alt="company logo">
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+1]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+1].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+2]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+2].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+3]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+3].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+4]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+4].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+5]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+5].retrievedImage" alt="company logo">
                            
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+6]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+6].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+7]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+7].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            <mat-card class="card company-logo-card template-div" *ngIf="companies[9*j+8]">
                                <br>
                                <img mat-card-image [src]="companies[9*j+8].retrievedImage" alt="company logo">
                                
                            </mat-card>
                            
                        </div>
                    </div>
               
            </ng-template>
        </ngb-carousel>
    </div>
</div>
</div>
