*{
    text-decoration: none;
}
.parent-container{
    width: 100%;
    height: 200px;
    text-align: center;
    /* background-image:  linear-gradient(to right, #6E2586,#B11784); */
}
.card-arrow-gap{
    width: 90%;
    height: 200px;
    margin: auto;
}

.card{  
    height: 100%;
    margin: auto;
    text-align: center;   
}
.skill-card{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;   
}
.skill-card-margin{
    margin-left: auto;
    margin-right: auto;
}
.skill-card mat-card-title{
    font-size: 1.5vw;
    font-weight: 500;
    background-color: rgba(0,0,0,0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}
.skill-card mat-card-title:hover{
    color: #6E2586;
}

.suggestion-card{
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 10vw;
    margin-left: 2%;
    border-radius: 50px;
    overflow: hidden;
}
.suggestion-card img{
    width: 10vw;
    height: 8vw;
    object-fit: contain;
}
.suggestion-card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,1);
}
mat-expansion-panel{
    background-color: white;
     padding:30px 0px;
    
}
.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}
.company-logo-card{   
    width: 150px;
    min-width: 150px;
    height: 100%;
    border-radius: 90px;
    background-color: white;
}
.company-logo-card>div{
    display: flex;
    justify-content: center;
    height: 90%;
    border-radius: 100px;
    background-color: white;
}
.company-logo-card>div>img{ 
    border-radius: unset;
    width: 60%;
    align-self: center;
}

.float-left{
    float: left;
}
mat-card{
    display: flex;
    justify-content: center;
    min-width: 100px;
    background-image:  linear-gradient(to right, #6E2586,#B11784);
}
mat-card-title{
    font-size: larger;
    line-height: 110%;
    color: white;
}
.tagline{
    /* margin-left: 0%;
    margin-right: auto;
    text-align: left;
    width: fit-content;
    color: white;
    height: 25px;
    background-image: linear-gradient(to right,#B11784,#4E1B5F);
    overflow: auto;
    scrollbar-width: none; */
    /* background-color: transparent; */
    font-size: 20px;
    padding: 1.5vh;
    line-height: 20px;
    /* background-color: white; */
    text-transform: uppercase;
    text-align: center;
    color: #4E1B5F;
    font-family: sans-serif;
    letter-spacing: 4px;
    background-image: linear-gradient(90deg, rgb(177,23,132), rgb(110,37,134), rgb(177,23,132));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
     -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
.tagline::-webkit-scrollbar, .search-headline::-webkit-scrollbar{
    display: none;
}
.search-headline{
    /* position: relative;
    right: -2%; */
    padding: 5px;
    margin-right: 30px;
    margin-left: auto;
    height: 25px;
    font-size: 25px;
    color: white;
    /* overflow: auto; */
    scrollbar-width: none;
}
.search-bar{
    background-color: transparent;
    background-color: white;
    /* border: 3px solid white ; */
    /* transition: width 1s; */
} 
/* .search-input:focus{
    width: 500px;
} */
.search-icon{
     filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(186deg) brightness(102%) contrast(100%);
     margin-left: auto;
     margin-right: 0%;
    }
.search-input{
    font-size: 18px;
    text-align: center;
    caret-color: black;
    color: black;
    font-weight: 500;
    /* border: none;
    outline: none;   */
    
    
}
.flip-card{
    background-color: transparent;
    width: 15.5vw;
    height: 100%;
    perspective: 1000px;
    
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    background-image: linear-gradient(to right,#391e94, #391e94);
    transform: rotateY(180deg);
    text-align: center;
    overflow-y: scroll;
    /* scrollbar-width: none; */
    color: white;
}
/* .flip-card-back::-webkit-scrollbar{
    display: none;
} */
.flip-card-back h1{
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
}
.flip-card-back a li{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
}
.flip-card-back a li:hover{
    box-shadow: 1px 1px 1px 1px rgb(249, 249, 249);
}
a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #4E1B5F;;
    text-decoration: underline;
}
.hide-arrow-button{
    color: white;
    border-radius: 16px;
    margin: 0% 50%;
    font-size: large;
    background-image: linear-gradient(to right,#6E2586, #B11784);
}
.hide-arrow-button:hover{
    color: #391e94;
}