.parent-container{
    width: 100%;
    height: 200px;
    text-align: center;
    /* background-image:  linear-gradient(to right, #6E2586,#B11784); */
}

.card-arrow-gap{
    width: 90%;
    height: 200px;
    margin: auto;
}
.logo-container{
    height: 150px;
    width: 100%;
    text-align: center;
}
.card{  
    height: 100%;
    margin: auto;
    text-align: center;   
}
.skill-card{
    width: 19.4%;
    min-width: 250px;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
     background-size: cover;   
}
.skill-card-margin{
    margin-left: 0.5%;
    width: 19.4%;
}
.skill-card mat-card-title{
    font-size: xx-large;
    font-weight: 500;
    background-color: rgba(0,0,0,0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}
.skill-card mat-card-title:hover{
    color: #6E2586;
}

.suggestion-card{
    width: 17.6%;
    margin-left: 2%;
    border-radius: 50px;
}
.company-logo-card{
    width: 11.4%;
    min-width: 150px;
    margin-left: 1%;
    border-radius: 90px;
    background-color: white;
}
.company-logo-card>div{
    min-height: 80%;
}
.mat-card-image{
    width: 100px;
    margin: auto;
}
.template-div, .float-left{
    float: left;
}
.card-block{
    height: 200px;
    width: 96%;
    margin: auto;
}
.width-100{
    width: 100%;
}
mat-card{
    display: flex;
    justify-content: center;
    min-width: 100px;
    background-image:  linear-gradient(to right, #6E2586,#B11784);
}
mat-card > div{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
}
mat-card>div>img{
    border-radius: unset;
    width: 60%;
    align-self: center;

}
mat-card-title{
    font-size: larger;
    line-height: 110%;
    color: white;
}
.tagline{
    text-align: left;
    width: fit-content;
    font-size: x-large;
    color: white;
    height: 25px;
    background-image: linear-gradient(to right,#B11784,#4E1B5F);
}
.search-headline{
    height: 25px;
    margin-right: 10%;
    margin-left: auto;
    height: 25px;
    font-size: x-large;
    color: white;
}
section div{
    background-color: #33ca25;
}
.search-bar{
    background-color: transparent;
    border: 1px solid white ;
    border-radius: 50px;
    margin-right: 1%;
    margin-left: auto;
    width: 30%;
} 
.search-input{
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: large; 
}
.flip-card{
    background-color: transparent;
    height: inherit;
    width: 19.4%;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    background-image: linear-gradient(to right, #33ca25, #4E1B5F);
    transform: rotateY(180deg);
    text-align: center;
    
}

.flip-card-back mat-card-title{
    text-decoration: none;
    color: white;
}
.flip-card-back h1{
    font-weight: bolder;
}
.flip-card-back a:hover{
    text-decoration: underline;
    color: black;
}
a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}
.hide-arrow-button{
    color: white;
    border-radius: 16px;
    margin: 0% 50%;
    font-size: large;
    background-image: linear-gradient(to right,#6E2586, #B11784);
}
.hide-arrow-button:hover{
    color: #33ca25;
}