<div>
    <section style="margin-top: 5px;">
        <h1 style="width: 99.5%; margin: auto;
            border-radius: 4px;
            padding: 16.5px;
            color: white; text-align: center;
            font-size: xx-large; font-weight: 600;
            background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132) );">
            Learning Portal
        </h1>
        <!-- #4E1B5F -->
        <div class="tagline">
            Hello Warrior, grow your skills and advance your career with jobizard Learning.
        </div>
    </section>
    <div style="  background-color: #4E1B5F; height: initial;">

        <section style="display: flex; justify-content: center; border-bottom: 5px solid white;">
            <section style="display: flex; align-items: center; margin-left: auto; margin-right: 10%;">


                <div class="search-headline">
                    Find the best courses
                </div>
                <mat-form-field style=" width: 150px; padding: 5px; 
                    filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(186deg) brightness(102%) contrast(100%);">
                    <button matSuffix (click)="queryReSet()" *ngIf="query.value" mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-label style="color: black; font-size:18px; font-weight: 500;">Find Courses</mat-label>
                    <input matInput [formControl]="query" [matAutocomplete]="auto" class="search-input" type="search">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                            style="background-color: white; color: #4E1B5F; font-weight: 700;">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-icon-button class="search-icon">
                    <i class="fa-solid 
                 fa-magnifying-glass
                  fa-xl" (click)="onSkillTypeClick({target:{innerText: this.query.value}})"></i>
                </button>
            </section>
        </section>
        <div style="min-height: 300px;height: 22vw;">
            <ngb-carousel style="height: 300px;">
                <ng-template style="min-height: 300px; height: 22vw;" ngbSlide
                    *ngFor="let slide of categoryTemplate; index as i;">
                    <div
                        style="width: 80%; min-height: 300px; height: 22vw; margin: auto; display: flex; align-items: center; ">

                        <div class="flip-card skill-card-margin " *ngFor="let card of slide; index as j;">
                            <div class="flip-card-inner">
                                <mat-card
                                    style="background-image: url(../../assets/learning-portal/{{skillAggregate[cardsPerSlide.category*i+j].image}});"
                                    class="skill-card flip-card-front">
                                    <mat-card-title>
                                        {{skillAggregate[cardsPerSlide.category*i+j].category}}
                                    </mat-card-title>
                                </mat-card>
                                <mat-card class="flip-card-back">
                                    <ul>
                                        <h1 style="border-bottom: 0.3vw solid white;">
                                            {{skillAggregate[cardsPerSlide.category*i+j].category}}</h1>
                                        <mat-card-title
                                            *ngFor="let skill of skillAggregate[cardsPerSlide.category*i+j].skillTypes">
                                            <a (click)="onSkillTypeClick($event)">
                                                <li>{{skill}}</li>
                                            </a>
                                        </mat-card-title>
                                    </ul>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <mat-accordion multi>
        <mat-expansion-panel>
            <button mat-raised-button (click)="hideCourses()" class="hide-arrow-button">
                <i class="fa-solid fa-arrow-up-long fa-bounce fa-xl"></i>
                Hide
            </button>
            <br><br>
            <p style=" margin-left: 2%; font-size: xx-large; margin-bottom: 2%; font-weight: 500; color: #4E1B5F;">
                Courses Available: {{queryValue}}</p>
            <div class="parent-container">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slide of courseTemplate; index as i">
                        <div style="width: 80%; height: 15vw; display: flex; align-items: center; margin: auto;">
                            <mat-card class="card suggestion-card" *ngFor="let card of slide; index as j;">
                                <mat-card-title><a href={{suggestion[cardsPerSlide.course*i+j]}}>
                                        <img *ngIf="skillImage" [src]="skillImageLocation+skillImage">

                                    </a>
                                </mat-card-title>
                            </mat-card>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div style=" width: 95%;  margin: auto;">


        <p
            style="font-size: xx-large; color: #4E1B5F; margin-left: 1%;margin-top: 5%; margin-bottom: 2%; font-weight: 500;">
            Top Educators</p>

        <div class="parent-container">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slide of logoTemplate; index as i">
                    <div class="logo-container">
                        <mat-card class="card company-logo-card float-left" *ngFor="let card of slide; index as j;">
                            <div *ngIf="companyLogos[cardsPerSlide.logo*i+j]">
                                <img [src]="logoLocation + companyLogos[cardsPerSlide.logo*i+j]" alt="company logo">
                            </div>
                        </mat-card>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

</div>