<div class="container-fluid" style="padding: 2%;">
    <header>
              <section class="timer1 blink" style="float: left; border-radius: 50%; ">
                <span style="font-size: x-large;">{{counter.min}} : {{counter.sec}}</span>
              </section>
              <section style="display: inline-block; margin-top: 2.5%; margin-left: 26%; width: 50%; ">
                <h1 style="font-size: 400%; font-weight: bold; color:  #4E1B5F;">{{data.name}} Test</h1>
            </section>
        <section style="float: right; width: fit-content;">
            <button mat-button style="font-size: large; background-color:rgb(177,23,132); color: white;">End Test</button>
        </section>
    </header>

    <section style="margin-top: 5%;">
        <p style="font-size: 200%; margin-bottom: 2%; font-weight: bold;">{{question.question}}</p>
 
        
        <mat-radio-group [(ngModel)]="answers[question.qno]" (change)="option(question.qno)">
            <mat-radio-button class="options" #option style="font-size: x-large; margin-bottom: 2%;" value="a" *ngIf="question.a">{{question.a}}</mat-radio-button><br>
            <mat-radio-button class="options" #option style="font-size: x-large; margin-bottom: 2%;" value="b" *ngIf="question.b">{{question.b}}</mat-radio-button><br>
            <mat-radio-button class="options" #option style="font-size: x-large; margin-bottom: 2%;" value="c" *ngIf="question.c">{{question.c}}</mat-radio-button><br>
            <mat-radio-button class="options" #option style="font-size: x-large; margin-bottom: 2%;" value="d" *ngIf="question.d">{{question.d}}</mat-radio-button><br>
        </mat-radio-group>
        <button mat-button class="button back" (click)="getQuestion(question.qno - 1)">Back</button>
        <button class="button mark" mat-button style="margin-left: 10%;" (click)="bookmark(question.qno-1)">Mark</button>
        <button class="button next" mat-button style="margin-left: 10%;" (click)="getQuestion(question.qno + 1); changeColor(question.qno)">Next</button>
    </section>

    <footer style="margin-top: 5%; margin-left: 30%;">
        <!-- <li *ngFor='let in of ques_counter(Questions.no_of_questions) ;let i = index'>{{i}}</li> -->
        <div class="ques1" *ngFor="let ques of no_of_questions">
            <button class="ques {{ques.qno}}" style=" color: white; float: left; margin-left: 1%; border:none; padding:7px 0; width: 4%; " (click)="getQuestion(ques)">{{ques}}</button>
        </div>
    </footer>
</div>