<div class="container-fluid">
    <header>
        <div class="timer" style="float: left;">
            <span>{{counter.min}} : {{counter.sec}}</span>
            <div class="base-timer">
                <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <g class="base-timer__circle">
                    <circle class="base-timer__path-elapsed" cx="20" cy="20" r="15" />
                  </g>
                </svg>
                <span>
                  <!-- Remaining time label -->
                </span>
              </div>
        </div>

        <div style="float: right;"></div>
    </header>

    <section>

    </section>

    <footer>

    </footer>
</div>