/* Sets the containers height and width */
.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
  }
  
  /* Removes SVG styling that would hide the time label */
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  /* The SVG path that displays the timer's progress */
  .base-timer__path-elapsed {
    stroke-width: 3px;
    stroke: grey;
  }