<header style="width: 100vw; position: fixed; top: 0px; z-index: 3; height: auto;">
  <nav style="  background-color: #4E1B5F; border-radius: unset; 
      padding: 10px 0px 10px 0px; width: 100vw; height: auto; display: inline-flex;">

    <div style="display: flex; align-items: center; width: fit-content;">
      <a href="#" style="width: fit-content;">
        <img src="../../assets/logo-crop.png" alt=""
          style="object-fit: contain; left: 12px; top: 7px;  width: 70px; height: 65px; ">
      </a>
      <h1
        style=" left: 80px; font-size: xx-large; width: fit-content; margin-left: 0%; margin-right: auto; padding: unset; color: white; margin-top: auto; margin-bottom: auto; font-family: unset; font-weight: 500;">
        Jobizard</h1>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;
     margin-right: 5%; margin-left: auto; width: fit-content;  ">
      <button id="pop" mat-raised-button class="nav-button" style=" margin-right: 20px;" routerLink="/userLogin">
        Log-In
      </button>
      <button id="pop" mat-raised-button class="nav-button" routerLink="/jobSeekersRegister">
        Register
      </button>
    </div>

  </nav>
</header>
<div class="parent-div" style="margin-top: 70px;">
  <section style="height: 70vh;">
    <ngb-carousel style="height: 100%;">
      <ng-template ngbSlide style="height: 100%; position: relative;">

        <div style="background-image: url(../../assets/home-page/2.webp);height: 70vh;width: 100%;
        background-color: rgb(0,150,136); 
              background-repeat: no-repeat; background-size: contain;background-position: right bottom;">
          <h3 style="  width: 100%; min-width: 320px; max-width: 600px; height: 100%; padding-top: 10%; padding-left: 10%;
          font-size: 50px; text-align: left; letter-spacing: 2px; line-height: 50px; color: white;">
            Step on the rungs of opportunities with Jobizard.
          </h3>
        </div>

      </ng-template>
      <ng-template ngbSlide style="height: 100%;">

        <div style="background-image: url(../../assets/home-page/cover.png);height: 70vh; width: 100%;
              background-repeat: no-repeat; background-size: contain; background-position: center bottom;">
          <h3 class="tagline">
            Pick Candidates with Skill from A to Izzard..
          </h3>
        </div>

      </ng-template>
      <ng-template ngbSlide style="height: 100%;">

        <div style="background-image: url( ../../assets/home-page/27.webp);height:70vh;width: 100%;
          background-color: #00ccff;
              background-repeat: no-repeat; background-size: contain;background-position: center;">
          <h3 class="tagline">
            Connect with Recruiters from Various Vocation.
          </h3>
        </div>

      </ng-template>
    </ngb-carousel>
  </section>

  <section style="width: 100%; height: fit-content; background-color: #4E1B5F; padding: 40px 0 40px 0;">
    <div style="width: 85%; margin: auto;">
      <div class="intro-div"
        style="width: 100%; height: fit-content; display: flex; justify-content: center; align-items: center;">

        <div style="width: 100%; max-width: 700px; min-width: 300px; height: 350px;">
          <img style="width: 100%; height: 100%;  object-fit: cover;
         " src="../../assets/home-page/1.jpg">
        </div>

        <div class="intro-down" style="width: 100%;  max-width: 700px; min-width: 320px;
          height: fit-content; color: white; padding: 5px;">
          <h2 style="font-size: x-large;">
            Searching for jobs?</h2>
          <p style="font-size: large; letter-spacing: 2px;font-weight: 500;">
            Trending Skills is not easy to find?</p>
          <p style="font-size: medium; letter-spacing: 2px;font-weight: 500">
            Weak in the skill you possess?</p>

          <p style="font-size: large; line-height: 30px; letter-spacing: 1px; padding-top: 25px;">
            Get your profile selected based on your skills, just register and
            add your details to let recruiters know about you.
            Hone your skills and assess to know your weaknesses with our
            assessment tests suited for you according to the latest trends
            , and learn which skills recruiters demand.
          </p>
        </div>


      </div>
    </div>
    <!-- <hr style="margin: 60px auto;"> -->
  </section>
  <section style="width: 100%; background-color: #4E1B5F; padding: 40px 0 40px 0;">
    <div style="width: 85%; margin: auto;">
      <div class="intro-div" style="width: 100%; height: fit-content; display: flex; padding: 5px;
        justify-content: center; align-items: center;">
        <div style="width: 100%; max-width: 700px; min-width: 320px; height: fit-content; color: white;">
          <h2 style="font-size: x-large;">
            Need to fill the vacancy?</h2>
          <p style="font-size: large; letter-spacing: 2px;font-weight: 500;">
            Are candidate's not proficient in mentioned skills? </p>
          <p style="font-size: medium; letter-spacing: 2px;font-weight: 500">
            Hiring process takes lot of time? </p>
          <!-- <hr>
        <div style="height: 5px;"></div>
        <hr> -->
          <p style="font-size: large; line-height: 30px; letter-spacing: 1px; padding-top: 25px">
            Post Jobs and see profile of potential candidates, true to their mentioned skills.
            Relevant candidates information with the verified skills, so that you don,t need to
            test their skills to check their proficiency. Just select and start hiring.
          </p>
        </div>
        <div class="intro-down" style="width: 100%; max-width: 700px; min-width: 300px; height: 350px; ">
          <img style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 30%;"
            src="../../assets/home-page/24.webp">
        </div>
      </div>
    </div>
    <!-- <hr style="margin: 60px auto;"> -->
  </section>
  <section style="width: 100%; margin: auto; height: auto;">

    <h1 class="title">
      Our Features
    </h1>
    <div style="width: 100%; margin: auto;">
      <div class="our-container">
        <mat-card class="example-card" *ngFor="let card of ourFeatures">
          <img src="{{imagesLocation}}{{card.imageName}}" *ngIf="card.imageName == 'jzi.png'"
            style="background-image: linear-gradient(to right, #6E2586,rgb(218, 153, 206))">
          <img src="{{imagesLocation}}{{card.imageName}}" *ngIf="card.imageName != 'jzi.png'">
          <mat-card-content>
            <p style="font-size:1.8rem;">
              {{card.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <hr style="margin: 60px auto;"> -->
    </div>
  </section>

  <hr style="margin: 60px auto; width: 100%;">

  <section style="width: 100%;">

    <h1 class="title">
      About Jobizard
    </h1>
    <div style="width: 100%; margin: auto;">
      <div class="intro-div" style="display: flex; width: 100%; justify-content: center;
       height: fit-content;  align-items: center;">

        <div style="display: flex; flex-direction: column;
          width: 100%;  min-width: 300px; max-width: 700px; height: fit-content;
          align-items: center; justify-content: center;">

          <div *ngFor="let row of aboutJobizard" style="width: 100%; height: fit-content; ">
            <div class="about-div">
              <img src="{{imagesLocation}}{{row.imageName}}">
              <div>
                <h1>
                  {{row.title}}
                </h1>
                <p style="font-size: medium;">
                  {{row.description}}
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="intro-down" style=" width: 100%;  max-width: 700px;
         min-width: 320px; background-color: bisque;
         height: 350px; ">
          <img style="width: 100%; height: 100%;" src="../../assets/home-page/99.jpg">
        </div>
      </div>
    </div>
  </section>

  <hr style="margin-top: 60px; width: 100%;">

  <h1 class="title">
    Get Spellbound with features like
  </h1>

  <section class="parallax-section">
<div class="even-more-div">
    <div style="display: flex; flex-direction: column;">
      <div *ngFor="let feature of evenMore;odd as isOdd ">
        <div *ngIf="isOdd" style="display: flex; align-items: center; padding: 10px; margin: 0% auto;
         width: 300px; ">
          <div style="background-color: white; margin-top: 10px; margin-bottom: auto;">
            <i class="fa-solid fa-file-invoice fa-2xl" ></i>
          </div>
          <div style="width: 100%;margin-left: 10px; padding: auto 10px; border-bottom: 1px solid white;">
            <p style="padding: auto; color: white;">
              {{feature.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;">
      <div *ngFor="let feature of evenMore;even as isEven; ">
        <div *ngIf="isEven" style="display: flex; align-items: center; padding: 10px; margin: 0% auto;
         width: 300px; ">
          <div style="background-color: white; margin-top: 10px; margin-bottom: auto;">
            <i class="fa-solid fa-file-invoice fa-2xl"></i>
          </div>
          <div style="width: 100%;margin-left: 10px; padding: auto 10px; border-bottom: 1px solid white;">
            <p style="padding: auto; color: white;">
              {{feature.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- </div> -->


</div>


<footer class="footer-basic">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Home</a></li>
    <li class="list-inline-item"><a href="#">Services</a></li>
    <li class="list-inline-item"><a href="#">About</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  </ul>

  <hr style="margin: 20px auto; width: 60%;">

  <div class="footer-intro">
    <p>
      Jobizard gives the hiring solution for a long process of hiring a skilled candidate and with its additional
      features it supports
      Job seekers by provding the resources to be skilled as per industry demands.
    </p>

  </div>

  <hr style="margin: 20px auto; width:80%; ">
  <h2 style=" margin-left: auto; margin-right: auto; width: fit-content;">
    Follow Us
  </h2>
  <div class="social">
    <a href="">
      <img src="../../assets/home-page/Facebook.svg" alt="Facebook icon">
    </a>
    <a href="#">
      <img src="../../assets/home-page/Insta.svg" alt="Insta icon">
    </a>
    <a href="#">
      <img src="../../assets/home-page/twitter.svg" alt="Twitter icon">
    </a>
    <a href="#">
      <img style="filter: invert(17%) sepia(79%) saturate(5093%) hue-rotate(356deg) brightness(92%) contrast(124%);"
        src="../../assets/home-page/youtube.svg" alt="youtube icon">
    </a>
  </div>

  <p class="copyright">
    <button mat-icon-button>
      <i class="fa-solid fa-copyright fa-xl fa-shake"></i>
    </button>
    COPYRIGHT © JOBIZARD 2022. ALL RIGHTS RESERVED.
  </p>
</footer>
<!-- <section>
    <div class="div-additional">
      <img src="../../assets/jzi.png" alt="" class="imgleft">
      <p>JobiZone provides you with tools to enhance your experience like, Skill trends to explore demand for your
        skills, Salary trends to check how salary in your role changes with experience,
        a Tech news and Business News section to keep you updated with current headlines.</p>
    </div>
    <div class="div-additional">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias laborum porro, esse, enim totam possimus quos
        repellendus nemo officiis natus rerum eveniet earum!
        Tenetur, doloremque velit. Exercitationem alias vero accusamus.</p>
      <img src="" alt="" class="imgright">
    </div>
  </section> -->
<!-- /***//////////////*//////////







<!-- <nav class="navbar navbar-expand-lg navbar-light" style="  background-color: transparent; border-radius: unset; 
  position: fixed; z-index: 1; width: 80%; 
  left: 10%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo3.png" alt="" width="80" height="70" class="d-inline-block align-text-top">
      JOBIZARD
    </a>
  </div>
  <div style="display: flex; justify-content: center; 
     margin-right: 5%; margin-left: auto; ">
    <button mat-raised-button style=" margin-right: 20px;">
      Log-In
    </button>
    <button mat-raised-button>
      Register
    </button>
  </div>
</nav>

<section style="height: 70vh;">
  <ngb-carousel style="height: 100%;">
    <ng-template ngbSlide style="height: 100%;">
      <div class="carousel-caption">
        <h1>
          Get Everything from A to Izzard...
        </h1>
      </div>
      <div class="picsum-img-wrapper" style="height: 100%;width: 100%;">
        <div style="height: 70vh;width: 100%;
           background-color: rgb(60, 3,71); ">
          <img src="../../assets/home-page/20.jpg" alt="" style="width: 400px; height: 400px; ">
        </div>
      </div>
      <div class="picsum-img-wrapper" style="height: 100%;width: 100%;">
        <div style="background-image: url();height: 70vh;width: 100%;
            background-repeat: no-repeat; background-size: cover; background-position-y: -60px; ">
          <img src="../../assets/home-page/2.webp">
        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide style="height: 100%;">
      <div class="carousel-caption">
        <h3 class="tagline">
          Connect Recruiters from Various Vocation.
        </h3>
      </div>
      <div class="picsum-img-wrapper" style="height: 100%;width: 100%;">
        <div style="background-image: url( ../../assets/home-page/21.webp);height:70vh;width: 100%;
            background-repeat: no-repeat; background-size: cover;background-position: center;"></div>
      </div>
    </ng-template>
  </ngb-carousel>
</section> -->



<!-- <div style="display: flex; height: 600px;">
  <div style="margin-right:3%; width: 30%; height: 100%;">
    <section class="even-more-section">

      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Create resume in various templates and stop worrying about resume-creation.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Interact with other seeker to stay connected.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Filter candidates according to skills and education so you get relevant candidates.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Get business news and tech news, so that you can always stay updated in the industry.
        </p>
      </div>

    </section>
  </div>
  <div style="margin-left: 3%;width: 30%; height: 100%;">
    <section class="even-more-section">

      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Our Chatbot will help you guide through our platform.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Know the current salary trend and the demand of kills in the detailed graphical representation.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Search companies to know the insight through reviews and write a review to help other seekers.
        </p>
      </div>
      <div>
        <img src="../../assets/home-page/black-tie-brands.svg">
        <p>
          Search for courses according to the skills you want to learn or hone your skills with our recommended
          courses through top-educators.
        </p>
      </div>

    </section>
  </div>
</div> -->