
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<df-messenger
  intent="WELCOME"
  chat-title="Jobby"
  agent-id="d32d70bb-b930-40d0-9612-a75897f934c2"
  language-code="en"
></df-messenger>
<style>
    df-messenger {
     --df-messenger-bot-message: #878fac;
     --df-messenger-button-titlebar-color: #6E2586;
     --df-messenger-chat-background-color: #fafafa;
     --df-messenger-font-color: white;
     --df-messenger-send-icon: #878fac;
     --df-messenger-user-message: #479b3d;
    }
  </style>  
