<body>
  <div class="cv-body">
    <div class="cv-body-header">
      <div class="cv-header-content1">
        <span style="border-right-style: solid; padding-right: 1%">S</span
        ><span style="padding-left: 1%">K</span>
      </div>

      <div class="cv-header-content2">
        <h1 style="font-size: 320%">Sajidha khan</h1>
      </div>

      <div class="cv-header-content3">
        <div class="cv-header-content3-left"></div>
        <div class="cv-header-content3-middle">
          <H3 style="font-size: 120%; font-weight: bold"
            >FULLSTACK DEVELOPER</H3
          >
        </div>
        <div class="cv-header-content3-right"></div>
      </div>

      <div class="cv-header-content4">
        <div class="cv-header-content4-left">
          <mat-icon>place</mat-icon>
          <br />
          <sub>empire heights</sub>
        </div>

        <div class="cv-header-content4-middle">
          <mat-icon>call</mat-icon>
          <br />
          <sub>8973241515</sub>
        </div>

        <div class="cv-header-content4-right">
          <mat-icon>mail</mat-icon>
          <br />
          <sub>sajidhamohammed321@gmail.com</sub>
        </div>
      </div>
    </div>
    <!-- 1st part starts -->
    <div class="cv-body-content">
      <div class="cv-body-side-content">
        <div class="cv-body-side-content-avatar">
          <img mat-card-avatar src="assets\sunset.png" />
        </div>
        <div class="cv-body-side-content-edu">
          <div class="cv-body-side-content-edu-header">
            <h2
              style="
                font-size: 200%;
                letter-spacing: 3px;
                font-weight: bolder;
                text-transform: uppercase;
                color: rgb(49, 49, 83);
              "
            >
              Education
            </h2>
          </div>
        </div>

        <div class="cv-body-side-content-edu-container1">
          <h3
            style="
              font-size: 150%;
              text-transform: uppercase;
              font-weight: bold;
              color: rgb(49, 49, 83);
              padding-top: 5%;
              margin: 0%;
            "
          >
            B.tech
          </h3>
          <h4
            style="
              font-size: 140%;
              font-weight: bold;
              color: rgb(201, 178, 119);
              padding: 0%;
              margin-bottom: 2%;
            "
          >
            ssiet college/2019
          </h4>
          <p
            style="
              font-size: 130%;
              font-weight: bold;
              color: rgb(109, 109, 109);
              padding-top: 0%;
              margin: 0%;
            "
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consectetur sapiente animi ratione. Quis quos tenetur vero
            perferendis minus eius neque dignissimos voluptas. Quod expedita
            laboriosam temporibus corporis maiores ab cumque.
          </p>
          <h3
            style="
              font-size: 150%;
              text-transform: uppercase;
              font-weight: bold;
              color: rgb(49, 49, 83);
              padding-top: 5%;
              margin: 0%;
            "
          >
            high school
          </h3>
          <h4
            style="
              font-size: 140%;
              font-weight: bold;
              color: rgb(201, 178, 119);
              padding: 0%;
              margin-bottom: 2%;
            "
          >
            lorem college/2015
          </h4>
          <p
            style="font-size: 130%; font-weight: bold; color: rgb(109, 109, 109)"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            eligendi ipsam quisquam at, quo mollitia amet fugiat modi ullam
            beatae sit dolor commodi exercitationem tempore ut veritatis illo
            culpa aliquid?
          </p>
        </div>

        <div class="cv-body-side-content-lang-container">
          <div class="cv-body-side-content-lang-header">
            <h2
              style="
                font-size: 200%;
                letter-spacing: 3px;
                font-weight: bolder;
                text-transform: uppercase;
                color: rgb(49, 49, 83);
              "
            >
              languages
            </h2>
          </div>
          <div>
            <h5>English</h5>
            <div class="progress" id="progressbar">
              <div
                class="progress-bar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: rgb(195, 151, 76); width: 50%"
                role="progressbar"
              ></div>
            </div>
          </div>
          <div>
            <h5>Spanish</h5>
            <div class="progress" id="progressbar">
              <div
                class="progress-bar"
                style="background-color: rgb(195, 151, 76); width: 50%"
                role="progressbar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="cv-body-side-content-lang-container1"></div>
        </div>
      </div>
      <!-- 2nd part starts -->
      <div class="cv-body-main-content">
        <div class="main-career-objective">
          <p
            style="font-size: 150%; font-weight: bold; color: rgb(109, 109, 109)"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro
            impedit odit excepturi illo, laboriosam obcaecati aliquid aliquam
            adipisci nulla maxime culpa nobis perferendis. Magni nobis odio
            officiis consequuntur cumque.
          </p>
        </div>

        <div class="work-experience-container">
          <div class="work-experience-header-container">
            <h2
              style="
                font-size: 200%;
                letter-spacing: 3px;
                font-weight: bolder;
                text-transform: uppercase;
                color: rgb(49, 49, 83);
              "
            >
              Work Experience
            </h2>
          </div>

          <div class="work-details">
            <div class="Designation">
              <h3
                style="
                  font-size: 150%;
                  text-transform: uppercase;
                  font-weight: bold;
                  color: rgb(49, 49, 83);
                  padding-top: 5%;
                  margin: 0%;
                "
              >
                Graphics Designer
              </h3>
            </div>
            <div class="company-name-with-term">
              <h4
                style="
                  font-size: 140%;
                  font-weight: bold;
                  color: rgb(201, 178, 119);
                  padding: 0%;
                  margin-bottom: 2%;
                "
              >
               Lorem Company/jan2019-Feb2020/London
              </h4>
            </div>
            <div class="work-description">
              <p style="font-size: 130%; font-weight: bold; color: rgb(109, 109, 109)">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                porro impedit odit excepturi illo, laboriosam obcaecati aliquid
                aliquam adipisci nulla maxime culpa nobis perferendis
              </p>
            </div>
          </div>
        </div>

        <div class="skills-container">
          <div class="skills-header-container">
            <h2
              style="
                font-size: 200%;
                letter-spacing: 3px;
                font-weight: bolder;
                text-transform: uppercase;
                color: rgb(49, 49, 83);
              "
            >
              Skills
            </h2>
          </div>

          <div class="skills-detail">
            <div class="skills">
              <h5>Adobe photoshop</h5>
              <div class="progress" id="progressbar">
                <div
                  class="progress-bar"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="background-color: rgb(195, 151, 76); width: 50%"
                  role="progressbar"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
