<h1 style="width: 100%; margin-bottom: 5px;
            border-radius: 4px;
            padding: 16.5px;
            color: white; text-align: center;
            font-size: xx-large; font-weight: 600;
            background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132) );">
           Shortlisted Candidates
        </h1>
<mat-paginator style="width: 100%;" [length]="selectedJobseekers.length" [pageSize]="10"
            [pageSizeOptions]="[1,2,3,4,5,6,7,8,9,10]" (page)="pageChange($event)" 
            [showFirstLastButtons]="true" aria-label="Select page">
</mat-paginator>
<div>
  <div *ngFor="let candidate of selectedJobseekersSlice">
    <mat-card class="example-card" style="height: 350px;">
      <a (click)="jobseeker(candidate?.emailId)"><img mat-card-image src="{{candidate?.seekerProfileImage}}" class="pi"></a>
      <mat-card-header>
        <mat-card-title>{{candidate.firstName}} {{candidate.lastName}}&nbsp; &nbsp;
          <span style="font-weight: normal; font-size: 15px;margin-top:0.2%;">

          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content id="sc" style="display: flex; width: 100%; overflow: auto;">
        <mat-chip-list  *ngFor="let skills of candidate?.additionalDetails.skillSet"
          style="display:inline-flex; margin: 2px;">
          <mat-chip *ngIf="skills.isVerified" style="background-color: green">{{skills.skillName}}</mat-chip>
          <mat-chip *ngIf="!skills.isVerified" style="background-color: red">{{skills.skillName}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button (click)="sendEmail(jobseekers)" style="margin-left: 3px; border: none; background-color: white;"><i class="fa-solid fa-check" style="font-size: 30px; color: rgb(0, 146, 44);"></i></button> -->
        <button (click)="onClick(candidate.emailId,candidate.firstName +' '+candidate.lastName)" style="margin-left: 150px; border: none; background-color: white;"><i class="material-icons" style="font-size:30px;color: rgb(16, 0, 159);">chat</i></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>