.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  /* position:fixed; */
  top: 0;
  z-index: 1;
  /* position: relative; */
  width: 100%;
}

