<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [mode]="'over'"
      [opened]="(isHandset$ | async) === true" style="background-color: rgb(82, 15, 102); text-align: center; align-items: center; justify-content: center; ">
      <div style="justify-content: center; align-items: center; text-align: center;margin-top: 5%;">
        <img src="../assets/logo3.png" style="width: 15rem;">
      </div>
      <hr>
      <div *ngIf="role=='JOBSEEKER'">
        <mat-nav-list style="align-items: center; justify-content: center;">
          <button mat-list-item type="button" routerLink="/navbar/jobSeeker" style="border: none;  display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>home</mat-icon>&nbsp;&nbsp;Home</button>
          <button mat-list-item type="button" routerLink="/navbar/update-user" style="border: none;  display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon> present_to_all</mat-icon>&nbsp;&nbsp;Update Profile</button>
          <button mat-list-item type="button" routerLink="/navbar/assesmentportal" style="border: none;  display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon> border_color</mat-icon>&nbsp;&nbsp;Assessment Portal</button>
          <button mat-list-item routerLink="/navbar/learning" style="border: none;  display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon> import_contacts</mat-icon>&nbsp;&nbsp;Learning Portal</button>
          <button mat-list-item routerLink="/navbar/trend" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>dashboard</mat-icon>&nbsp;&nbsp;JobiZone</button>
          <button mat-list-item routerLink="/navbar/cv-generation" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>recent_actors</mat-icon>&nbsp;&nbsp;Generate Your CV</button>
          <button mat-list-item routerLink="/navbar/review" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>thumbs_up_down</mat-icon>&nbsp;&nbsp;Review</button>
          <button mat-list-item routerLink="/navbar/chatroom" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon> forum</mat-icon>&nbsp;&nbsp;Chatroom</button>
        </mat-nav-list>
      </div>

      <div *ngIf="role=='RECRUITER'">
        <mat-nav-list style="align-items: center; justify-content: center;">
          <button mat-list-item routerLink="/navbar/recruiterLanding" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>home</mat-icon>&nbsp;&nbsp;Home</button>
          <button mat-list-item routerLink="/navbar/job-posting" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>business_center</mat-icon>&nbsp;&nbsp;Post Jobs</button>
          <button mat-list-item routerLink="/navbar/search" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>search</mat-icon>&nbsp;&nbsp;Search Profiles</button>
          <button mat-list-item routerLink="/navbar/trend" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon>dashboard</mat-icon>&nbsp;&nbsp;JobiZone</button>
          <button mat-list-item routerLink="/navbar/chatroom" style="border: none; display: block; width: 100%; padding: 2%; font-size: 2rem; color: white; background-color: rgb(82, 15, 102);"><mat-icon> forum</mat-icon>&nbsp;&nbsp;Chatroom</button>
        </mat-nav-list>
      </div>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white">
    <mat-toolbar color="primary" style="background-color:#4E1B5F">  <!-- rgb(78 , 27, 95)-->
      <button mat-flat-button
       style="background-color: #4E1B5F; color: white;" 
       aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()" *ngIf="role == 'RECRUITER' || role == 'JOBSEEKER'"><mat-icon>menu</mat-icon></button>
   
      <span style="color: white; font-size: large; width: 100%;" class="row"><h1 style="font-size: xx-large;" class="col-1">Jobizard</h1>
        <span class="col">
        <img src="../../assets/logo-crop.png" style="height: 8vh;margin-left:10px;margin-top:-20px;position: sticky;" alt="logo">
      
      <div style="display: flex;position: absolute; top:10px; right: 30px; align-items: center;">
      <h5 style="margin-left: auto; margin-right: 2px; width: fit-content;">Hi, {{name}}</h5>
      <button mat-icon-button class="example-icon" style="margin-right: 0px; margin-left: auto;" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu" *ngIf="!hide">
      <mat-icon>person</mat-icon>
      </button></div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/navbar/jobseekerprofile" *ngIf="role=='JOBSEEKER'">
          <mat-icon>settings</mat-icon>
          <span>My Profile</span>
        </button>
       <button mat-menu-item (click)="loggedOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu> 


    </span>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
