<!-- <div class="cv-form-body">
    <div class="cv-form-body-container">

        <div class="cv-form-header">
            <H1>Fill Up The Form</H1>
        </div>

        <div class="cv-form-content">

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput>
                    </mat-form-field>
            <div>
                
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput>
                    </mat-form-field>
            </div>
            
            <div>
                <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Phone No.</mat-label>
                    <input type="tel" matInput>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Links</mat-label>
                    <input type="url" matInput>
                </mat-form-field> -->
            <!-- </div> -->

            <!-- <div>
                <mat-form-field appearance="outline">
                    <mat-label>Upload Picture</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div> -->

            <!-- <mat-form-field appearance="outline">
                <mat-label>Career objective</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

    </div>
</div> -->
   
    
<!-- first name;
last name;
email;
mobile number;
links;
picture;
career objective
education
work exp
certifications
project
skillsa
interests
personal profile -->
      

