/* .cv-form-body{ */
  /* border-style:solid; */
  /* border-color:rgb(18, 28, 85); */
  /* margin:1%; */
  /* background-color:#000; */
  
/* }
.cv-form-body-container{
  margin:2%; */
  /* border-style:solid; */
  /* border-color:rgb(68, 19, 57); */
  /* display: grid;
  justify-items: center; */
  /* background-color:rgb(165, 195, 202); */
/* } */
/* .cv-form-header{ */
  /* background-color:#000; */
/* }
H1{ 
  padding: 0.5em; */
  /* color: rgb(158, 190, 13); */
/* } */