#mainheading{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    font-size:xx-large;
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    text-align: center;
    font-size: 23px;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
img{
    margin-top: 10px;
    height: 110px;
}
a{
    text-decoration: none;
}
a:hover{
  
    filter: brightness(110%);
    transition: 0.5s ease;
}
.firstdiv{
    border-radius: 15px;
    background-image: linear-gradient(to left, #6E2586,white);
    display: flex;
    height: 133px;
}
.seconddiv{
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(to left, white,#B11784);
    margin-top: 1%;
    height:133px;
}
.firstdivone{
    margin-top: 1%;
}
.seconddivtwo{
    margin-top: 1%;
}