<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">


<mat-card style="background-image: linear-gradient(to right, #6E2586, #B11784); margin-top: 0.5rem;"><h1 id="mainheading">JobiZone</h1></mat-card>

<br>
<div class="container-fluid">
    <div class="row">
        <a routerLink="/navbar/skills">
            <div class="col-xl-12 firstdiv">
                <div class="col-xl-10 col-md-12 firstdivone">
                        <h2>Skill Trends</h2>
                        <p style = "color: #6E2586;">The realities being several lost jobs, the great resignation and career switches across roles, domains and industries. Today, more than ever the workforce needs to reevaluate their skills. Check what is the current demand for your skill</p>
                </div>
                <div class="col-xl-1 col-md-12 firstdivtwo">
                    <img src="./assets/stiw.png" alt="skill"/>
                </div>
            </div>
        </a>
        <a routerLink="/navbar/salary">
            <div class="col-xl-12 seconddiv">
                <div class="col-xl-2 col-md-12 firstdivtwo">
                    <img src="./assets/sltiw.png" style="margin-bottom: 10px; margin-left: 50px;" alt="salary"/>
                </div>
                <div class="col-xl-10 col-md-12 seconddivtwo">
                    <h2>Salary Trends</h2>
                        <p style="color:#B11784;">In the past year, the hiring market has seen an impressive rebound, with companies competing against one another to attract and hire the best talent. Check how salary in your role changes with experience</p>
                    </div>
            </div>
        </a>
        <a routerLink="/navbar/technews">
            <div class="col-xl-12 seconddiv" style="background-image: linear-gradient(to left, #6E2586,white);">
                <div class="col-xl-10 col-md-12 firstdivone" style="margin-right: -15px;">
                        <h2>Tech News</h2>
                        <p style="color:#6E2586;">Your daily dose of technology news!!! Be up-to-date with all the current news about tech</p>
                </div>
                <div class="col-xl-1 col-md-12 firstdivtwo">
                    <img src="./assets/tni.png" style="margin-right: 15px;" alt="tni"/>
                </div>
            </div>
        </a>
        <a routerLink="/navbar/businessnews">
            <div class="col-xl-12 seconddiv">
                <div class="col-xl-2 col-md-12 firstdivtwo">
                    <img src="./assets/bn.png" style="margin-bottom: 10px; margin-left: 50px;" alt="bn"/>
                </div>
                <div class="col-xl-10 col-md-12 seconddivtwo">
                    <h2>Business News</h2>
                        <p style="color:#B11784">All your business related headlines right here!!!</p>
                </div>
            </div>
        </a>
    </div>
    <br>
</div>
