.parent-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background-color: aqua;  */
}

.header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    padding: 5px;
}
.title{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: #4E1B5F;
    font-family: sans-serif;
    letter-spacing: 4px;
    background-image: linear-gradient(90deg, rgb(177,23,132), rgb(110,37,134), rgb(177,23,132));
    background-repeat: no-repeat;
    background-size: 90%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
     -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
.search-form{
    width: 80vw;
    min-width: 320px;
    max-width: 440px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: white;
    /* background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132) ); */
}

.search-bar, .search-button{
    margin-left: auto;
}
.search-button{
    margin-right: 5px;
    align-self: center;
    color: black;
}
.search-bar{
    margin-right: -20px;
    width: 80%;
    height: fit-content;
    text-align: center;
    font-size: 10px;
    color: black;
    /* filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(186deg) brightness(102%) contrast(100%); */
    background-color: transparent;
}
.review-section{
    background-color: aliceblue;
    overflow: hidden;
    height: 480px;
}
.review-card{
    margin: 5px;
    height: 230px;
    display: inline-block;
    
    /* background-color: aqua; */
}

.review-header{
    width: 275px;
    min-width: 275px;
    height: 100%;
}
.review-text{
    width: 275px;
    height: 50px;
    background-color: transparent;
    border: none;
    scrollbar-width: 0px;
    font-size: 15px;
     line-height: 15px;
     font-weight: 400;
}

.review-text::-webkit-scrollbar{
    width: 15px;
}


.company-name{
    font-size: 19px;
    line-height: 19px;
    height: fit-content;
}

.review-card img{
    position: absolute;
    left: 15px;
    right: auto;
    top: 0px;
    bottom: auto;
}
.mat-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 150px;
    min-width: 125px;
    height: 170px; 
}
.review-card mat-card-actions{
    position: absolute;
    bottom: -10px;
    right:25px;
    top: auto;
    left: auto;
}
.company-section{
    overflow: hidden;
    background-color: aliceblue;
    height: 210px;
}
.company-card{
    margin: 5px;
    height: 200px;
    display: inline-block;
    /* background-color: aqua; */
}
.company-header{
    width: 275px;
    min-width: 275px;
    height: 100%;
}
.company-card mat-card-actions{
    position: absolute;
    bottom: -10px;
    right:25px;
    top: auto;
    left: auto;
}
.company-card img{
    position: absolute;
    left: auto;
    right: 15px;
    top: 0px;
    bottom: auto;
}
/*.company-section{
    background-color: aqua;
    height: 410px;
    width: 100vw;
    overflow-x: auto;
    flex-direction: row;
    
}
.company-card{
    margin-left: 20px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
.company-card img{
    position: absolute;
    bottom: 5%;
    left: 10%;
}
.company-card mat-card-actions{
    height: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: 10%;
    margin-right: 0%;
    margin-left: auto;
}

.mat-content{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    margin-bottom: 0%;
    margin-top: auto;
    // background-color: antiquewhite; 
}
mat-grid-tile{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: fit-content;
}


*/



/* .parent-div>section{
    height: 93vh;
    overflow: scroll;
    
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
}


mat-grid-tile{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    border-radius: 16px;
    
}
mat-grid-tile:hover{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,1);
    cursor: pointer;
    
}

mat-grid-tile>img{

}
.grid-container{
    display: relative;
    width: 100%;
    height: 100%;
}
.grid{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridCol1{
    // background-color: antiquewhite;
    height: 100%;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
.gridCol2{
    // background-color: aquamarine;     left: 50%;
    right: auto;
}
.gridCol3{
     //background-color: blueviolet;
    top: 50%;
    bottom: auto;
    left: 0%;
    right: auto;
}
.gridCol4{
    // background-color: brown; 
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
}
mat-grid-list{
    
    
}
*/