<div class="parent-div">
    <section class="header-section">
        <h1 style="width: 100%; margin-bottom: 5px;
            border-radius: 4px;
            padding: 16.5px;
            color: white; text-align: center;
            font-size: xx-large; font-weight: 600;
            background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132) );">
            Get Insight On Companies
        </h1>
    </section>
    <div style="display: flex; align-items: center; justify-content: flex-end; width: 100%;">
        <div style=" background-color: aquamarine; margin-left: 0%; margin-right: auto;">
            <form [formGroup]="companyForm" class="search-form">
                <mat-form-field class="search-bar">
                    <mat-label style="color: black; font-size:15px; font-weight: 500;">Search by Company name
                    </mat-label>
                    <input type="search" style="font-size: 20px" matInput formControlName="companyGroup"
                        [matAutocomplete]="autoGroup">
                    <mat-autocomplete #autoGroup="matAutocomplete">
                        <mat-optgroup *ngFor="let group of companyGroupOptions | async" [label]="group.letter">
                            <mat-option *ngFor="let name of group.names" style="color: #4E1B5F; font-weight: 700;"
                                [value]="name">
                                {{name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                    <button (click)="companyForm.controls['companyGroup'].setValue('');"
                        *ngIf="companyForm.controls['companyGroup'].value" matSuffix mat-icon-button>
                        <i class="fa-xl fa-solid fa-xmark"></i>
                    </button>

                </mat-form-field>
                <button mat-icon-button (click)="querySearch()" class="search-button">
                    <i class="fa-xl fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <mat-paginator *ngIf="searchExists" style="width: 40%;" [length]="searchedReviews.length" [pageSize]="11"
            [pageSizeOptions]="[1,2,3,4,5,6,7,8,11]" (page)="reviewPageChange($event)" 
            [showFirstLastButtons]="true" aria-label="Select page">
        </mat-paginator>
        <mat-paginator *ngIf="!searchExists" style="width: 40%;" [length]="reviewHome.length" [pageSize]="12"
            [pageSizeOptions]="[1,2,3,4,5,6,7,8,11]" (page)="reviewPageChange($event)" 
            [showFirstLastButtons]="true" aria-label="Select page">
        </mat-paginator>
    </div>


    <section *ngIf="!searchExists" class="review-section" style="position: relative;">
        <!-- <mat-card *ngIf="reviewService.selectedCompany" class="company-card" 
        style="width: 305px; height: 230px; display: inline-block;">
            <mat-card-header class="company-header">
                <div class="mat-title">
                    <mat-card-title class="company-name">
                        {{reviewService.selectedCompany.companyName}}
                    </mat-card-title>
                    <mat-card-subtitle style="padding: 0px 5px; font-size: 20px; width: fit-content; ">
                        <i style="color: orange;" class="fa-sm fa-solid fa-star"></i>
                        4.8
                    </mat-card-subtitle>
                </div>
                <img id="company-logo" [src]="reviewService.selectedCompany.retrievedImage"
                    style="width: 120px; height: 120px; object-fit: contain;">
                <mat-card-actions>
                    <button mat-raised-button (click)="openReviewForm(reviewService.selectedCompany)">Write
                        Review</button>
                </mat-card-actions>
            </mat-card-header>
        </mat-card> -->
        <mat-card *ngFor="let review of reviewHomeSlice" class="review-card">
            <mat-card-header class="company-header" >
                <img [src]="review.companyLogo"
                    style="width: 60px; height: 60px; object-fit: contain;">
                <div style="width:220px; position: absolute; left: auto; right: 0%;">
                    <mat-card-title style="font-size: 15px; line-height: 15px;">
                        {{review.companyName}}
                    </mat-card-title>   
                    <mat-card-subtitle style="padding: 0px 5px; width: fit-content; ">
                        <i style="color: orange;" class="fa-sm fa-solid fa-star"></i>
                        
                        4.8
                    </mat-card-subtitle>
                </div>
                <hr style="position: absolute; left: -0.3%; bottom: auto; top: 30%; height: 2px; width: 100%;">
                <div style="position: absolute; top: 36%; width: 90%;">
                    <h3 *ngIf="!review.user" style=" margin-bottom: 0%;
                     line-height: 20px; font-size: medium; font-weight: 500; text-align: center;">
                        Anonymous
                    </h3>
                    <h3 *ngIf="review.user"
                    style="
                     line-height: 20px; font-size: medium; 
                     font-weight: 500; text-align: center;">
                        {{review.user.name}}
                    </h3>
                    <mat-card-subtitle #starParent style="margin-top: 1%; display: flex; justify-content: center;
                    padding: 0px 5px; width:100%;" *ngIf="review.companyRatings" >
                        
                        <i *ngFor="let arr of ratingsLoopArray(review.companyRatings,starParent)"
                        style=" margin-right: 5px;"
                         class="fa-lg fa-solid fa-star"></i>
                        
                    </mat-card-subtitle>
                </div>
                <div style=" width: 90%; height: fit-content; position: absolute; top: 53%;">
                    <mat-card-title style="height: fit-content;">
                        
                            <textarea disabled class="review-text" style="background-color: aliceblue;"
                            value="{{review.prosMessage}}"
                                 type="text"></textarea>
                            <textarea disabled class="review-text" style="background-color: rgba(228, 195, 195, 0.2);"
                            value="{{review.consMessage}}"
                             type="text"></textarea>
                    </mat-card-title>

                </div>
            </mat-card-header>
        </mat-card>
    </section>

    <section *ngIf="searchExists" class="review-section" style="position: relative;">
        <mat-card *ngIf="searchedCompany" class="company-card" 
        style="width: 305px; height: 230px; display: inline-block;">
            <mat-card-header class="company-header">
                <div class="mat-title">
                    <mat-card-title class="company-name">
                        {{searchedCompany.companyName}}
                    </mat-card-title>
                    <mat-card-subtitle style="padding: 0px 5px; font-size: 20px; width: fit-content; ">
                        <i style="color: orange;" class="fa-sm fa-solid fa-star"></i>
                        4.8
                    </mat-card-subtitle>
                </div>
                <img id="company-logo" [src]="searchedCompany.retrievedImage"
                    style="width: 120px; height: 120px; object-fit: contain;">
                <mat-card-actions>
                    <button mat-raised-button (click)="openReviewForm(searchedCompany)">Write
                        Review</button>
                </mat-card-actions>
            </mat-card-header>
        </mat-card>
        <mat-card *ngFor="let review of searchedReviewsSlice" class="review-card">
            <mat-card-header class="company-header" >
                <img [src]="review.companyLogo"
                    style="width: 60px; height: 60px; object-fit: contain;">
                <div style="width:220px; position: absolute; left: auto; right: 0%;">
                    <mat-card-title style="font-size: 15px; line-height: 15px;">
                        {{review.companyName}}
                    </mat-card-title>   
                    <mat-card-subtitle style="padding: 0px 5px; width: fit-content; ">
                        <i style="color: orange;" class="fa-sm fa-solid fa-star"></i>
                        
                        4.8
                    </mat-card-subtitle>
                </div>
                <hr style="position: absolute; left: -0.3%; bottom: auto; top: 30%; height: 2px; width: 100%;">
                <div style="position: absolute; top: 36%; width: 90%;">
                    <h3 *ngIf="!review.user" style=" margin-bottom: 0%;
                     line-height: 20px; font-size: medium; font-weight: 500; text-align: center;">
                        Anonymous
                    </h3>
                    <h3 *ngIf="review.user"
                    style="
                     line-height: 20px; font-size: medium; 
                     font-weight: 500; text-align: center;">
                        {{review.user.name}}
                    </h3>
                    <mat-card-subtitle #starParent style="margin-top: 1%; display: flex; justify-content: center;
                    padding: 0px 5px; width:100%;" *ngIf="review.companyRatings" >
                        
                        <i *ngFor="let arr of ratingsLoopArray(review.companyRatings,starParent)"
                        style=" margin-right: 5px;"
                         class="fa-lg fa-solid fa-star"></i>
                        
                    </mat-card-subtitle>
                </div>
                <div style=" width: 90%; height: fit-content; position: absolute; top: 53%;">
                    <mat-card-title style="height: fit-content;">
                        
                            <textarea disabled class="review-text" style="background-color: aliceblue;"
                            value="{{review.prosMessage}}"
                                 type="text"></textarea>
                            <textarea disabled class="review-text" style="background-color: rgba(228, 195, 195, 0.2);"
                            value="{{review.consMessage}}"
                             type="text"></textarea>
                    </mat-card-title>

                </div>
            </mat-card-header>
        </mat-card>
    </section>

    <div style="display: flex; align-items: center; justify-content: flex-end; width: 100%;">
        <h1 class="title">Write A Review</h1>
        <mat-paginator style="width: 30%;" [length]="companies.length" [pageSize]="4"
            [pageSizeOptions]="[1,2,3,4,5,6,7,8]" (page)="companyPageChange($event)" 
            [showFirstLastButtons]="true"
            aria-label="Select page">
        </mat-paginator>
    </div>
    <section class="company-section">
        <mat-card *ngFor="let company of companiesSlice" class="company-card">
            <mat-card-header class="company-header">
                <div class="mat-title">
                    <mat-card-title class="company-name">
                        {{company.companyName}}
                    </mat-card-title>
                    <mat-card-subtitle style="padding: 0px 5px; font-size: 20px; width: fit-content; ">
                        <i style="color: orange;" class="fa-sm fa-solid fa-star"></i>
                        4.8
                    </mat-card-subtitle>
                </div>
                <img id="company-logo" [src]="company.retrievedImage"
                    style="width: 120px; height: 120px; object-fit: contain;">
                <mat-card-actions>
                    <button mat-raised-button (click)="openReviewForm(company)">Write Review</button>
                </mat-card-actions>
            </mat-card-header>
        </mat-card>
    </section>

</div>