<body>
<div class="box">
<div class="container">
  <div class="profile-container">
      <div class="profile">
        <h1 style="color: white; text-align: center; font-size: 2vw; font-weight: 700;">Welcome Malathi</h1>
          <mat-card class="card">
              <mat-card-content >
                <div style="text-align: center;">
                
                <img src="assets\u1.jpeg" width="30%">
                <h2 style="margin-bottom: 0;">Malathi V</h2>
               <br>
                <p style="font-size: 130%;">
                  Hard Worker with smart mind
                </p>
              </div>
                <div class="updateProfile" *ngIf="profileProgress<100">
                <p style="font-size: 130%;">Complete {{profileProgress}}% of your profile</p>
                <mat-progress-bar mode="determinate" [value]=profileProgress></mat-progress-bar>
                <!-- <button class="update" mat-button >Update Profile</button>  --><br>
                <div class="role" style="cursor: pointer;">
                  <div class="block"></div>
                  <p class="updateText">Update Profile</p>
              </div>
              </div>
              <div class="myProfile" *ngIf="profileProgress==100" style="text-align: center;">
                  <p class="getReady">Get ready for the battle Warrior</p>
                  <button class="myProfileButton" mat-button>My Profile</button>
              </div>
              </mat-card-content>
            </mat-card>
            <button class="button1" mat-button >Add Post</button>
            <button class="button2" mat-button >Add Blog</button>
          
      </div>
  </div>


  <div class="post">
    <mat-card class="card1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite</mat-icon></button>
        <button mat-button>View All Comments</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite</mat-icon></button>
        <button mat-button>View All comments</button>
      </mat-card-actions>
    </mat-card>
     
  </div>

  <div style="">
    <div class="skill-container">
      <div class="profile">
        <h1 class="takeTest1" style="color: white; text-align: center; " *ngIf="notVerifiedSkills.length!=0">Take test to get recruited...!</h1>
          <mat-card class="card" style="margin-top: 5%;">
              <mat-card-content >
                <div *ngIf="notVerifiedSkills.length!=0">
                <h2 style="color:#4E1B5F ; margin: 0;"> Skills to be verified :</h2>
                <mat-card style="margin-bottom: 3px; cursor: pointer;" *ngFor="let unverified of notVerifiedSkills">
                  <p style="font-size: 130%; ">{{unverified}}<mat-icon style=" margin-left:1%" color="accent"> announcement </mat-icon>
                  <span  class="takeTest2">Take test</span></p>
                  </mat-card>
                <!-- <p style="font-size: 130%; ">Java<mat-icon style=" margin-left:1%" color="accent"> announcement </mat-icon></p>
                <p style="font-size: 130%; ">Spring<mat-icon style="margin-left:1%" color="accent"> announcement </mat-icon></p>
                <p style="font-size: 130%; ">Angular<mat-icon style="margin-left:1%" color="accent"> announcement </mat-icon></p> -->

                <!-- <button class="takeTest" style="background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132)); color: white;" mat-button (click)="openDialog()">Take test</button> -->
              </div>
               <br>
                <div>
                  <h2 style="color:#4E1B5F ;">Verified Skills :</h2>

                  <div *ngFor="let verified of verifiedSkills">
                    <p style="font-size: 130%; ">{{verified.name}}<span>{{verified.warrior}}</span>
                      <!-- <p style="font-size: 130%; ">{{verified.name}}<span>{{verified.warrior}}</span> -->
                        <!-- <p style="font-size: 130%; ">{{verified.name}}<span>{{verified.warrior}}</span> -->
                      <!-- <mat-icon style="float: right; color: green;"> check_circle </mat-icon> -->
                    </p>
                  </div>

                  <div *ngIf="notVerifiedSkills.length==0">
                  <h1 class="warriors" style="color: #4E1B5F; text-align: center; font-weight: 600;" >Warriors are not born,
                  <br>They are made...
                  </h1>
                  <button class="myProfileButton" style="margin-left: 20%;" mat-button>Learn Courses</button>
                  </div>
                  <!-- <p style="font-size: 130%; ">Java-script<mat-icon style="float: right; color: green;"> check_circle </mat-icon></p>
                  <p style="font-size: 130%; ">HTML<mat-icon style="float: right; color: green;"> check_circle </mat-icon></p>
                  <p style="font-size: 130%; ">CSS<mat-icon style="float: right; color: green;"> check_circle </mat-icon></p> -->
                </div>
              </mat-card-content>
            </mat-card>
       
      </div>
  </div>
  </div>

</div>
</div>
</body>
