<body>
  <div class="cv-template" id="cv-template">
    <div class="cv-left-side-content">
      <div class="cv-left-side-header">
        <img mat-card-avatar src="assets\sunset.png">
      </div>
      <div class="contact-details">
        <div class="contact-header">
            <h2 style="font-size: 200%; letter-spacing: 3px;font-weight: bolder; text-transform: uppercase;">Contact</h2>
        </div>
        <div class="num-header">
            <mat-icon> stay_primary_portrait</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >8349848415</span>
        </div>
        <div class="mail-hader">
            <mat-icon> mail_outline</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >sajidhamohammed321@gmail.com</span>
        </div>
        <div class="location header">
            <mat-icon> location_on</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >lorem street</span>
        </div>
        <!-- <div class="links-header">
            <mat-icon> location_on</mat-icon>
            <sub style="font-size: 150%; font-weight: bolder;" ></sub>
        </div> -->
      </div>
      <div class="skills-container">
        <div class="skills-header-container">
          <h2
            style="
              font-size: 200%;
              letter-spacing: 3px;
              font-weight: bolder;
              text-transform: uppercase;
              color: rgb(83, 83, 83);
            "
          >
            Skills
          </h2>
        </div>

        <div class="skills-detail">
          <div class="skills">
            <h5  style="font-size:150%; font-weight: bold; color: rgb(83, 83, 83);">Adobe photoshop</h5>
            <div class="progress" id="progressbar">
              <div
                class="progress-bar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: rgb(219, 133, 133); width: 50%"
                role="progressbar"
              ></div>
            </div>
            <h5  style="font-size:150%; font-weight: bold; color: rgb(83, 83, 83);">Java</h5>
            <div class="progress" id="progressbar">
              <div
                class="progress-bar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: rgb(219, 133, 133); width: 50%"
                role="progressbar"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Languages">
        <div class="lang-container">
          <h2
          style="
            font-size: 200%;
            letter-spacing: 3px;
            font-weight: bolder;
            text-transform: uppercase;
            color: rgb(83, 83, 83);
          "
        >
         Languages
        </h2>
        </div>
        <div class="lang-chips">
          <mat-chip-list>
            <mat-chip color="accent" selected>English</mat-chip>
            <mat-chip color="accent" selected>Urdu</mat-chip>
            <mat-chip color="accent" selected>Telugu</mat-chip>
          </mat-chip-list>
        </div>
        <div></div>
        <div></div>
      </div>
      
    </div>
    <div class="cv-right-side-content">
        <div class="name-header">
            <div class="name-content">
                <h1 style="font-size:400%; font-weight: bold; color: rgb(83, 83, 83);">full name</h1> 
            </div>
            <div class="role-content">
                <h2 style="font-size:200%; font-weight: bold;">Role</h2>
            </div>
        </div>
      <div class="content-objective">
     
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro impedit odit excepturi illo, laboriosam
            obcaecati aliquid aliquam adipisci nulla maxime culpa nobis perferendis. Magni nobis odio officiis consequuntur
            cumque.
        
      </div>
      <div class="Exp-header">
          <div class="exp">Experience</div>
          <div class="exp-content">
            <h2  style="font-size:200%; font-weight: bold; color: rgb(83, 83, 83);">Enter you  job position here</h2>
            <h3  style="font-size:170%;  color: rgb(83, 83, 83);">company/Location/Date</h3>
          </div>
          <div class="exp-details">
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo aut quis officia ducimus quasi reprehenderit fugit error qui, reiciendis corporis illo quaerat eaque fuga nihil temporibus distinctio cupiditate. Tenetur, adipisci. </li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex deleniti, totam rem aliquam incidunt error animi corporis labore repellendus ullam, nulla quo repudiandae nisi voluptatem tempora modi, debitis libero ducimus.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus illum neque, porro ut necessitatibus doloremque odio cupiditate ipsum autem eos distinctio aut eligendi minus quibusdam ducimus eum! Maxime, alias ex.</li>
          </div>
      </div>
        <div class="Ed-header">
          <div class="edu">Education</div>
          <div class="ed-details">
            <h3
            style="
              font-size: 180%;
              text-transform: uppercase;
              font-weight: bold;
              color: rgb(83, 83, 83);
              padding-top: 3%;
              margin: 0%;
            "
          >
            B.tech
          </h3>
          <h4
            style="
              font-size: 160%;
              font-weight: bold;
              color: rgb(83, 83, 83);
              padding: 0%;
              margin-bottom: 2%;
            "
          >
            ssiet college/2019
          </h4>
          <p
            style="
              font-size: 150%;
              color: rgb(83, 83, 83);
              padding-top: 0%;
              margin: 0%;
            "
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consectetur sapiente animi ratione. Quis quos tenetur vero
            perferendis minus eius neque dignissimos voluptas. Quod expedita
            laboriosam temporibus corporis maiores ab cumque.
          </p>
          <h3
            style="
              font-size: 180%;
              text-transform: uppercase;
              font-weight: bold;
              color: rgb(83, 83, 83);
              padding-top: 3%;
              margin: 0%;
            "
          >
            high school
          </h3>
          <h4
            style="
              font-size: 160%;
              font-weight: bold;
              color: rgb(83, 83, 83);
              padding: 0%;
              margin-bottom: 2%;
            "
          >
            lorem college/2015
          </h4>
          <p
            style="font-size: 150%; color: rgb(83, 83, 83)"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            eligendi ipsam quisquam at, quo mollitia amet fugiat modi ullam
            beatae sit dolor commodi exercitationem tempore ut veritatis illo
            culpa aliquid?
          </p>
          </div>
        </div>
        <div class="Interests">
          <div class="interests-container">
            interests
          </div>
          <div class="interest-chips">
            <mat-chip-list>
              <mat-chip>
                <mat-chip-avatar>
                    <img src="assets\cv-assests\music-notes.png">
                </mat-chip-avatar>
                music
              </mat-chip>
              <mat-chip>
                <mat-chip-avatar>
                    <img src="assets\cv-assests\music-notes.png">
                </mat-chip-avatar>
                 cooking
              </mat-chip>
              <mat-chip>
                <mat-chip-avatar>
                    <img src="assets\cv-assests\music-notes.png">
                </mat-chip-avatar>
                reading books
              </mat-chip>
            </mat-chip-list>
          </div>
          <div></div>
        </div>
    </div>
  </div>
  <div style="text-align: center;">
    <input type="button" class="button" value="Download Pdf" (click)="convertToPDF()"/>
   </div>
  
</body>
