.cv-body-container {
  margin: 5%;
  border-style: inset;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
}
.cv-body-header-container {
  display: flex;
  width: 100%;
  background-color: rgb(72, 73, 81);
  text-transform: uppercase;
}
.cv-avatar-container {
  margin-left: 5%;
  margin-top: 3%;
  text-align: center;
  background-color: rgb(247, 234, 229);
  width: 25%;
}
.mat-card-avatar {
  padding: 5%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-style: black;
}
.cv-header-container {
  color: azure;
  padding: 10%;
  width: 75%;
}
.cv-header-designation {
  text-align: center;
}
.cv-header-name {
  text-align: center;
}
.cv-content-container {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.cv-content-container-left {
  margin-left: 5%;
  width: 24.3%;
  padding: 2%;
  background-color: rgb(246, 235, 229);
}
.cv-content-left {
}
.cv-content-contact {
  padding: 5px;
  margin: 5px;
  border-bottom-style: solid;
}
.cv-content-contact-header-cnotainer {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase; 
  font-size: 140%;
  font-weight: 600;
}
.cv-contact-number {
  
}
.cv-email {
  
}
.cv-city-state {
  
}
.cv-links {
 
}
.cv-content-skills {
  border-bottom-style: solid;
}
.cv-content-skills-header-cnotainer {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase; 
  font-size: 140%;
  font-weight: 600;
}
.cv-education-skills-details {
  padding: 5px;
  margin: 5px;
}
.cv-content-experience {
  padding: 5px;
  margin: 5px;
}
.cv-content-experience-header-cnotainer {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase; 
  font-size: 140%;
  font-weight: 600;
}
.cv-education-experience-details {
}
li {
}
.cv-content-container-right {
  width: 75%;
}
.cv-content-right {
  padding: 4%;
  padding-left: 1%;
}
.cv-content-career-objective {
}
.cv-content-career-objective-header-cnotainer {
  text-align: center;
  padding: 2%;
  background-color: rgb(244, 235, 229);
  text-transform: uppercase; 
  font-size: 180%;
  font-weight: 600;
}
.career-objective {
}
.cv-content-education {
}
.cv-content-education-header-cnotainer {
  text-align: center;
  padding: 2%;
  background-color: rgb(244, 235, 229);
  text-transform: uppercase; 
  font-size: 180%;
  font-weight: 600;
}
.cv-education-course-details {
  display: flex;
 justify-content: left;
}
.degree {
}
.stream {
}
.university-name {
}
.year-of-duration {
}
.cv-content-academics {
}
.cv-content-academics-header-cnotainer {
  text-align: center;
  padding: 2%;
  background-color: rgb(244, 235, 229);
  text-transform: uppercase; 
  font-size: 180%;
  font-weight: 600;
}
.cv-education-academics-details {
}
.cv-content-achivements {
}
.cv-content-achivements-header-cnotainer {
  text-align: center;
  padding: 2%;
  background-color: rgb(244, 235, 229);
  text-transform: uppercase; 
  font-size: 180%;
  font-weight: 600;
}
.cv-education-achivements-details {
}
.cv-content-job {
}
.cv-content-job-header-cnotainer {
  text-align: center;
  padding: 2%;
  background-color: rgb(244, 235, 229);
  text-transform: uppercase; 
  font-size: 180%;
  font-weight: 600;
}
.cv-education-job-details {
}
.content-container {
  display: flex;
  justify-content: space-evenly;
}