<body>
  <div class="cv-template">
    <div class="cv-left-side-content">
      <div class="cv-left-side-header">
        <img mat-card-avatar src="assets\sunset.png">
      </div>
      <div class="contact-details">
        <div class="contact-header">
            <h2 style="font-size: 200%; letter-spacing: 3px;font-weight: bolder; text-transform: uppercase;">Contact</h2>
        </div>
        <div class="num-header">
            <mat-icon> stay_primary_portrait</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >8349848415</span>
        </div>
        <div class="mail-hader">
            <mat-icon> mail_outline</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >sajidhamohammed321@gmail.com</span>
        </div>
        <div class="location header">
            <mat-icon> location_on</mat-icon>
            <span style="font-size: 150%; font-weight: bolder;" >lorem street</span>
        </div>
        <!-- <div class="links-header">
            <mat-icon> location_on</mat-icon>
            <sub style="font-size: 150%; font-weight: bolder;" ></sub>
        </div> -->
      </div>
      <div class="skills">
        <div class="progress" id="progressbar">
            <div
              class="progress-bar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
              style="background-color: rgb(57, 56, 55); width: 50%"
              role="progressbar">
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="Languages">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="Interests">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="cv-right-side-content">
        <div class="name-header">
            <div class="name-content">
                <h1 style="font-size:400%; font-weight: bold; color: rgb(83, 83, 83);">full name</h1> 
            </div>
            <div class="role-content">
                <h2 style="font-size:200%; font-weight: bold;">Role</h2>
            </div>
        </div>
      <div class="content-objective">
     
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro impedit odit excepturi illo, laboriosam
            obcaecati aliquid aliquam adipisci nulla maxime culpa nobis perferendis. Magni nobis odio officiis consequuntur
            cumque.
        
      </div>
      <div class="Exp-header">
          <div class="exp">Experience</div>
          <div class="exp-content">
            <h2  style="font-size:200%; font-weight: bold; color: rgb(83, 83, 83);">Enter you  job position here</h2>
          </div>
          <div class="exp-details">
            <h3>company/Location/Date</h3>
          </div>
      </div>
        <div class="Ed-header">
          <div></div>
          <div></div>
        </div>
    </div>
  </div>
</body>
