div {
  /* border-style: solid;
  margin: 10px;
  padding: 10px;  */
}
body{
 /* display: flex; */
 justify-content: center;
 padding: 0%;
 margin: 2%;
}
.cv-template {
  display: flex;
  justify-content: space-around;
  height: 230%;
  margin-left: 10%;
  width: 80%;
  color: rgb(83, 83, 83);
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
}
.contact-details{
    text-align: center;

}
.contact-header{
    text-align: left;
    padding: 3%;
    margin: 2%;
    text-align: center;
   
}
.mat-card-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.cv-left-side-content{
    background-color: rgb(238, 224, 226);
    width: 30%;
   
}
.cv-left-side-header {
  text-align: center;
  padding: 5%;
}
.cv-left-side-content {
  margin: 0%;
  padding: 0%;
}
mat-icon {
    color: rgb(108, 105, 105);
    
}
.num-header{
    text-align: left;
}
.location header{
    text-align: left;
    margin-left: 10%;
    padding-bottom: 15%;
}
.name-header{
    text-align: center;
   
}
.name-content{
    text-align: center;
    text-transform: uppercase;
    padding-top: 8%;
    
}
.role-content{
  text-align: center;
  text-transform: uppercase;
}
.name-header{
    background-color: rgb(234, 234, 234);
    height: 12%;
}

.cv-right-side-content {
  width: 75%;
}
.content-objective{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    color: rgb(108, 105, 105);
    font-weight: bold;
    padding: 2%;
    margin: 3%;
}
.Exp-header{
   
    /* border-color: rgb(169, 166, 166)  rgb(169, 166, 166)  rgb(169, 166, 166)  rgb(169, 166, 166) ; */
}
.exp{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  color: rgb(83, 83, 83);
  font-weight: bold;
  text-align: center;
  margin: 20px;
  background-color:rgb(238, 224, 226) ;
  text-transform: uppercase;
}
.exp-content{
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}
.exp-details{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
  color: rgb(83, 83, 83);
  padding: 2.5%;
  margin:0%;
}
li{
  text-align:left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
}
.edu{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  color: rgb(83, 83, 83);
  font-weight: bold;
  text-align: center;
  margin: 20px;
  background-color:rgb(238, 224, 226) ;
  text-transform: uppercase;
}
.ed-details{
  text-align: left;
  margin-left: 5%;
  /* padding-bottom: 25%; */
}
.skills-header-container{
  padding: 8%;
  margin: 4%;
  text-align: center;
  border-style: inset;
  border-color: rgb(58, 58, 58) transparent transparent transparent;
}
.skills-container {
  margin-top: 10%;
  margin-bottom: 10%;
}
.skills{
  margin: 3%;
  padding-bottom:5%;
}
.interests-container{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  color: rgb(83, 83, 83);
  font-weight: bold;
  text-align: center;
  margin: 20px;
  background-color:rgb(238, 224, 226);
  text-transform: uppercase;
}
.interest-chips{
  padding: 3%;
  margin: 2%;
}
.lang-container{
  padding: 8%;
  margin: 4%;
  text-align: center;
  border-style: inset;
  border-color: rgb(58, 58, 58) transparent transparent transparent;
}
.lang-chips{
  padding: 3%;
  margin-top: 3%;
}
.button{ 
  margin-top: 2%;
   background-image: linear-gradient(to right, rgb(110,37,134),rgb(177,23,132)); 
   font-size:x-large; 
   border: none;
   color: white;
  border-radius: 6px;   
}