<!-- <div class="cv-body-container">
  <div class="cv-body-header-container">
    <div class="cv-avatar-container">
      <img mat-card-avatar src="{{'data:image/jpg;base64,' + res.jobSeekerImage}}" />
    </div>
    <div class="cv-header-container">
      <div class="cv-header-name" style="text-transform: uppercase; font-size: 420%">
        {{res.firstName}}&nbsp;{{res.lastName}}</div>
      <br>
      <div class="cv-header-designation" style="text-transform: uppercase;font-size: 160%">SOFTWARE DEVEPOLER</div>
    </div>
  </div>
  <div class="cv-content-container">
    <div class="cv-content-container-left">
      <div class="cv-content-left">
        <div class="cv-content-contact">
          <div class="cv-content-contact-header-cnotainer" style="text-transform: uppercase;">CONTACT</div>
          <div class="cv-contact-number">
            <mat-icon>call</mat-icon>
            <sub>{{res.mobileNumber}}</sub>
          </div>
          <div class="cv-email">
            <mat-icon>email</mat-icon>
            <sub>{{res.emailId}}</sub>
          </div>
          <div class="cv-city-state">
            <mat-icon>place</mat-icon>
            <sub>{{res.address.state}},{{res.address.city}}</sub>
          </div>
          <div class="cv-links">
            <mat-icon>link</mat-icon>
          </div>
        </div>
        <div class="cv-content-skills">
          <div class="cv-content-skills-header-cnotainer" style="text-transform: uppercase;">Skills</div>
          <div class="cv-education-skills-details" *ngFor="let skill of details.skillSet">
            <li>{{skill.skillName}}</li>
          </div>
        </div>
        <div class="cv-content-experience">
          <div class="cv-content-experience-header-cnotainer" style="text-transform: uppercase;">
            Work Experience
          </div>
          <div class="cv-education-experience-details"></div>
        </div>
      </div>
    </div>
    <div class="cv-content-container-right">
      <div class="cv-content-right">
        <div class="cv-content-career-objective">
          <div class="cv-content-career-objective-header-cnotainer">
            CAREER OBJECTIVE
          </div>
          <div class="career-objective">
            <h2 style="margin-left:12% ;  font-weight: bold; color: rgb(109, 109, 109)">
              {{res.objective}}
            </h2>
          </div>
        </div>
        <div class="cv-content-education">
          <div class="cv-content-education-header-cnotainer">EDUCATION</div>
          <div class="cv-education-course-details" *ngFor="let edu of education">
            <div class="degree">
              <p>
                <span>
                  <h2 style=" display: inline-block; width: 50%; margin: 0;">Course</h2>
                </span>
                <span style="display: inline-block;">
                  <h2>{{edu.courses}}</h2>
                </span>
              </p>
            </div>
            <div class="stream">
              <p>
                <span>
                  <h2 style=" display: inline-block; width: 50%; margin: 0;">Stream</h2>
                </span>
                <span style="display: inline-block;">
                  <h2>{{edu.streamOrField}}</h2>
                </span>
              </p>
            </div>
            <div class="stream">
              <p>
                <span>
                  <h2 style=" display: inline-block; width: 50%; margin: 0;">School / College</h2>
                </span>
                <span style="display: inline-block;">
                  <h2>{{edu.universityOrInstitute}}</h2>
                </span>
              </p>
            </div>
            <p>
              <span>
                <h2 style=" display: inline-block; width: 50%; margin: 0;">Percentage</h2>
              </span>
              <span style="display: inline-block;">
                <h2>{{edu.percentageOrCgpa}}</h2>
              </span>
            </p>
          </div>
        </div>
        <div class="cv-content-academics">
          <div class="cv-content-academics-header-cnotainer" style="text-transform: uppercase;">
            ACADEMIC CERTIFICATIONS
          </div>
          <div class=" CERTIFICATIONS">
            <p class="text" style="font-family: 'Gill Sans', 'Gill Sans MT'; font-size: 200%; "> Academic Certification
              is about assessing your academic credentials to ensure they comply with the academic requirements of an
              organisation.</p>
            <div *ngFor="let job of details.academicsCertification">
              <li style="margin-left: 12%; font-size: x-large;  color: rgb(83, 83, 83);
              font-family: 'Josefin Sans', sans-serif;">{{job}}</li>
            </div>
          </div>
        </div>
        <div class="cv-content-achivements">
          <div class="cv-content-achivements-header-cnotainer" style="text-transform: uppercase;">
            ACHEIVEMENTS
          </div>
          <div class="cv-education-achivements-details">
            <p class="text" style="font-family: 'Gill Sans', 'Gill Sans MT'; font-size: 200%; ">An achievement is a
              great accomplishment something achieved with great effort or skill.</p>
            <div *ngFor="let job of details.achievements">
              <li style="margin-left: 12%; font-size: x-large;  color: rgb(83, 83, 83);
                font-family: 'Josefin Sans', sans-serif;">{{job}}</li>
            </div>
          </div>
          <div class="cv-content-job">
            <div class="cv-content-job-header-cnotainer" style="text-transform: uppercase;">JOB PREFERENCE</div>
            <div class="cv-education-job-details">
              <p class="text" style="font-family: 'Gill Sans', 'Gill Sans MT'; font-size: 200%; ">Job preferences
                reflects most important skills, interests, and values for a jobseeker. Job preferences shows a genuine
                interest of a person for a particular field.</p>
              <div *ngFor="let job of jobPreferences">
                <li style="margin-left: 12%; font-size: x-large;  color: rgb(83, 83, 83);
                  font-family: 'Josefin Sans', sans-serif;">{{job}}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->